@font-face {
	font-family: 'hiragino_mincho_prow3';
	src: url('../fonts/hiragino-mincho-pro-w3-webfont.eot');
	src: url('../fonts/hiragino-mincho-pro-w3-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/hiragino-mincho-pro-w3-webfont.woff2') format('woff2'),
			 url('../fonts/hiragino-mincho-pro-w3-webfont.woff') format('woff'),
			 url('../fonts/hiragino-mincho-pro-w3-webfont.ttf') format('truetype'),
			 url('../fonts/hiragino-mincho-pro-w3-webfont.svg#hiragino_mincho_prow3') format('svg');
	font-weight: normal;
	font-style: normal;
}

// @font-face {
// 	font-family: 'Hiragino Mincho ProN W3';
// 	src: url('../HiraMinProN-W3-AlphaNum.eot');
// 	src: url('../HiraMinProN-W3-AlphaNum.eot?#iefix') format('embedded-opentype'),
// 			url('../HiraMinProN-W3-AlphaNum.woff2') format('woff2'),
// 			url('../HiraMinProN-W3-AlphaNum.woff') format('woff'),
// 			url('../HiraMinProN-W3-AlphaNum.ttf') format('truetype'),
// 			url('../HiraMinProN-W3-AlphaNum.svg#HiraMinProN-W3-AlphaNum') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }
