@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
.footer {
	padding: 260px 50px 0;
	position: relative;

	@include mq(max_md) {
		padding-left: 0;
		padding-right: 0;
	}
	@include mq(max_xs) {
		padding: 100px 0px 0;
	}
	&:before {
		position: absolute;
		top: 30px;
		left: 0;
		bottom: 0;
		width: 100%;
		content: "";
		background: transparent url('../images/bg_footer.png') no-repeat center top;
		background-size: cover;
		@include mq(xxl) {
			top: -20px;
		}
		@include mq(max_xs) {
			background: transparent url('../images/bg-footer-sp.png') no-repeat center bottom;
			background-size: cover;
		}
	}
	.box-inner {
		// max-width: 1690px;
		margin: auto;
		position: relative;
		padding: 20px 0;
		@include mq(max_xs) {
			padding: 0 15px;
		}
	}
	.title-footer {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 30px;
		@include mq(max_xl) {
			font-size: 15px;
		}

	}
	.ft-logo {
		margin-bottom: 20px;
		position: absolute;
		top: -220px;
    	left: 0px;
    	@include mq(max_xs) {
			left: 0;
		}
		.logo {
			a {
				opacity: 1;
			}
		}
	}
	.ft-main {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		@include mq(max_lg) {
			flex-direction: column;
			width: 100%;;
		}
		@include mq(max_xs) {
			flex-direction: column;
		}
		.ft-col {
			margin-bottom: 30px;
		}
		.col-logo {
				min-width: 330px;
			@include mq(max_xs) {
				min-width: 0;
			}
		}
		.box-footer-nav {
			display: flex;
			flex-direction: row;
    		justify-content: space-around;
    		@include mq(max_lg) {
				margin-top: 20px;
    		}
    		@include mq(max_xs) {
				display: block;
				margin-top: 30px;
			}
    		.box-nav-item {
    			margin: 0 0 0 55px;
    			@include mq(xxl) {
					margin: 0 0 0 42px;
				}
				@media (min-width: 1600px) and (max-width: 1689px) {
					margin: 0 0 0 42px;
				}
    			@include mq(max_lg) {
					margin: 0 30px 0 0;
    			}
    			@include mq(max_xs) {
					width: 49%;
				    margin: 0 0 20px 0;
				    display: inline-block;
					&:last-child {
						width: 100%;
					}
				}
    		}
		}
		.col-logo {
			.txt {
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 25px;
				/* or 139% */

				letter-spacing: -0.02em;

				color: #FFFFFF;
				@include mq(max_xl) {
					font-size: 15px;
				}
			}
		}
		.list-social {
			@include mq(max_xs) {
				.title-footer {
					text-align: center;
				}
			}
		}
		.nav {
			display: block;
			ul {
				
				&.box-social {
					margin-top: -15px;
					@include mq(max_xs) {
						text-align: center;	
					}
					li {
						display: inline-block;
						padding: 0 20px 0 0;
						@include mq(max_xs) {
							padding: 0 9px;
						}
						img {
							max-width: 48px;
						}
					}
				}
				li {
					display: block;
					margin-left: 0;
					a {
						font-style: normal;
						font-size: 18px;
						line-height: 25px;
						text-decoration:none;
						letter-spacing: -0.02em;

						color: #FFFFFF;
						@include mq(max_xl) {
							font-size: 15px;
						}
						@include mq(max_xs) {
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
}
