@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	.container {
		@media (max-width: 1400px) {
			max-width: 1050px;
		}
	}
	@include mq(max_md) {
		background: rgba(#001254, 0.6);
	}
	.box-lang {
		@include mq(max_xs) {
			display: none;
		}
	}
	.box-inner {
		position: relative;
		background: transparent url(../images/bg-header.png) no-repeat center top;
		background-size: contain;
		height: 74px;
		padding: 6px 48px 0 0;
		@include mq(xxl) {
			height: 85px;
		}
		@include mq(1440) {
			height: 85px;
		}
		@include mq(max_xl) {
			padding-top: 2px;
		}
		@include mq(max_lg) {
			padding-right: 36px;
		}
		@include mq(max_md) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: none;
			padding: 0;
		}
		@media (min-width: 1440px) and (max-width: 1699px) {
			height: 82px;
		}
	}
	.logo {
		position: absolute;
		left: 35px;
		top: 0;
		text-decoration: none;
		@include mq(max_xl) {
			left: 15px;
		}
		@include mq(max_lg) {
			left: 0;
		}
		@media (min-width: 1440px) and (max-width: 1599px) {
			left: 45px;
		}
		a {
			text-decoration: none;
		}
		img {
			width: 150px;
			@include mq(xxl) {
				width: 170px;
			}
			@media (min-width: 1440px) and (max-width: 1599px) {
				width: 165px;
			}
		}
	}
	.btn-menu {
		border: 0;
		outline: 0;
		background: none;
		padding: 0;
		margin: 0;
		svg {
			width: 30px;
			height: 30px;
			@include mq(max_xs) {
				width: 25px;
				height: 25px;
			}
		}
	}
	.box-nav {
		padding-left: 180px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mq(xxl) {
			padding-left: 180px;
		}
		@media (min-width: 1440px) and (max-width: 1690px) {
			margin-top: 7px;
		}
		@media  (max-width: 1440px) {
			margin-top: 3px;
		}
		@include mq(max_xs) {
			padding-left: 0;
			margin-top: 0;
		}
		.main-nav {
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin-left: 10px;
				@include mq(max_xl) {
					margin-left: 0;
				}
				&:hover {
					> .submenu {
						display: block;
					}
				}
				> a {
					display: block;
					position: relative;
					font-weight: 600;
					font-size: 16px;
					line-height: (22 / 16);
					color: #FFFFFF;
					text-decoration: none;
					padding: 6px 11px;
					@include mq(max_lg) {
						font-size: 14px;
					}
					&:hover {
						color: #FFC403;
						&:before {
							opacity: 1;
						}
					}
					&:before {
						opacity: 0;
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: linear-gradient(180deg, rgba(28, 13, 99, 0.41) 0%, rgba(7, 0, 52, 0.2255) 100%);
						border-radius: 13px;
						transition: all 0.4s ease;
					}
					span {
						position: relative;
					}
				}
			}
			.submenu {
				display: none;
				position: absolute;
				left: 0;
				top: 100%;
				width: 222px;
				padding-top: 22px;
				@include mq(max_xl) {
					padding-top: 18px;
				}
				@include mq(max_lg) {
					padding-top: 15px;
				}
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 22px;
					width: 100%;
					height: 10px;
					background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(229,229,229,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(229,229,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(229,229,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */
					z-index: 1;
					@include mq(max_xl) {
						top: 18px;
					}
					@include mq(max_lg) {
						top: 15px;
					}
				}
				ul {
					position: relative;
					list-style: none;
					padding: 20px 18px 35px;
					margin: 0;
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: calc(100% - 20px);
						background: transparent url(../images/bg-submenu-middle.png) repeat-y center center;
						background-size: 100% auto;
					}
					&:after {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						min-height: 100px;
						background: transparent url(../images/bg-submenu-bottom.png) no-repeat center bottom;
						background-size: 100% auto;
						z-index: 1;
					}
					li {
						display: block;
						position: relative;
						margin: 0;
						z-index: 2;
						> a {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
	.box-btns {
		margin-left: 30px;
		// margin-bottom: 5px;
		@include mq(max_xl) {
			margin-left: 10px;
		}
		.btn-action {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1px;

			@include mq(max_lg) {
				height: 35px;
				line-height: 35px;
			}
			@include mq(max_md) {
				height: 46px;
				line-height: 46px;
			}
			@include mq(max_xs) {
				height: 40px;
				line-height: 40px;
			}
		}
		.btn-login {
			min-width: 183px;
			@include mq(max_lg) {
				min-width: 0;
			}
			@include mq(max_md) {
				min-width: 183px;
			}
			@include mq(max_xs) {
				min-width: 140px;
			}
		}
		.btn-try-free {
			min-width: 146px;
			@include mq(max_lg) {
				min-width: 0;
			}
			@include mq(max_md) {
				min-width: 146px;
			}
			@include mq(max_xs) {
				min-width: 140px;
			}
		}
	}
}
.box-lang {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -1.5vw;
	a {
		position: relative;
		display: block;
	}
	img {
		width: 8.438vw;
		height: 2.292vw;

	}
	span {
		position: absolute;
		right: 1.7vw;
		top: 50%;
		margin-top: -1vw;
		font-style: normal;
		font-weight: 800;
		font-size: 16px;
		line-height: 30px;
		color: #fff;
	}
}
/* -----------------------------------------------------------
	.offcanvas
----------------------------------------------------------- */
.offcanvas {
	background: rgba(60, 24, 136, 0.8);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	&.offcanvas-start {
		@include mq(max_xs) {
			max-width: 350px;
		}
	}
	.btn-close-offcanvas {
		position: absolute;
		left: 20px;
		top: 20px;
		border: 0;
		outline: 0;
		background: none;
		padding: 0;
		margin: 0;
		z-index: 2;
	}
	.offcanvas-body {
		padding: 100px 12px 50px;
		position: relative;
		.box-lang {
			position: absolute;
			right: 15px;
			top: 2vw;
			margin-top: 0;
			img {
				width:43.200vw;
				height: 11.733vw;

			}
			span {
				position: absolute;
				right: 8.7vw;
			    top: 50%;
			    margin-top: -4vw;
				font-style: normal;
				font-weight: 800;
				font-size: 16px;
				line-height: 30px;
				color: #fff;
			}
		}
		.box-nav {
			margin-bottom: 45px;
			.main-nav {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					margin-bottom: 22px;
					a {
						display: inline-block;
						vertical-align: middle;
						position: relative;
						font-weight: 600;
						font-size: 25px;
						color: #FFFFFF;
						text-decoration: none;
						padding: 5px 21px;
						&:hover {
							color: #FFC403;
							&:before {
								opacity: 1;
							}
						}
						&:before {
							opacity: 0;
							content: '';
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							background: linear-gradient(180deg, rgba(28, 13, 99, 0.41) 0%, rgba(7, 0, 52, 0.2255) 100%);
							border-radius: 22px;
							transition: all 0.4s ease;
						}
						span {
							position: relative;
						}
					}
				}
				.submenu {
					padding-left: 65px;
					ul {
						list-style: none;
						padding: 0;
						margin: 0;
						li {
							margin-bottom: 2px;
							> a {
								font-size: 15px;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
		.box-btns {
			padding: 0 0px;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 58px;
			.btn-action {
				display: block;
				height: 40px;
				line-height: 40px;
				margin: 0 auto 20px auto;
				&:hover {
					&:before {
						opacity: 0.7;
					}
				}
				&:before {
					opacity: 1;
				}
				&:after {
					display: none;
				}
			}
			.btn-login {
				&:before {
					background-image: url('../images/bg-btn-lightblue-2.png');
				}
			}
			.btn-try-free {
				&:before {
					background-image: url('../images/bg-btn-darkpink-2.png');
				}
			}
		}
		.box-logo {
			text-align: center;
		}
	}
}
