@charset "utf-8";
@import "compass";
$experimental-support-for-svg: true;

$font_main: 'Open Sans', sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1690px;

$primary: #928459;
$primaryColor:  #38A1FF;
// ---------- Size
$designWidth: 1920;
