/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
    background: transparent url("../images/bg-body.png") no-repeat top left;
    background-size: cover;
  }
}

img {
  max-width: 100%;
}

.over {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.over:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 1690px) {
  .container {
    max-width: 1232px;
  }
}
@media (min-width: 1440px) and (max-width: 1690px) {
  .container {
    max-width: 1232px;
  }
}

.list-style-none {
  list-style: none !important;
}

/* -----------------------------------------------------------
	heading
----------------------------------------------------------- */
.title-lg {
  display: block;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 1.35556;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px #FF00B8;
}
@media only screen and (max-width: 1199px) {
  .title-lg {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .title-lg {
    font-size: 28px;
  }
}
@media only screen and (max-width: 575px) {
  .title-lg {
    font-size: 24px;
    line-height: 34px;
  }
}

.title-md {
  text-align: center;
}
.title-md .lg {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.575;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px #FF00B8;
}
@media only screen and (max-width: 1199px) {
  .title-md .lg {
    font-size: 38px;
  }
}
@media only screen and (max-width: 991px) {
  .title-md .lg {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .title-md .lg {
    font-size: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .title-md .lg {
    font-size: 25px;
  }
}
.title-md .md {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 1.54839;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px #FF00B8;
}
@media only screen and (max-width: 1199px) {
  .title-md .md {
    font-size: 28px;
  }
}
@media only screen and (max-width: 991px) {
  .title-md .md {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .title-md .md {
    font-size: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .title-md .md {
    font-size: 16px;
  }
}

/* -----------------------------------------------------------
	Button
----------------------------------------------------------- */
.btn-pink {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  height: 61px;
  line-height: 61px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff !important;
  background: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 0 15px;
  margin: 0;
}
.btn-pink:hover:before {
  opacity: 0;
}
.btn-pink:hover:after {
  opacity: 1;
}
.btn-pink:before {
  opacity: 1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-pink.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-pink:after {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-pink-hover.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-pink span {
  position: relative;
  z-index: 2;
}

.offcanvas-body .btn-lightblue {
  width: 297px;
  height: 41px;
}
.offcanvas-body .btn-lightblue:hover:before {
  background-image: url("../images/bg-btn-lightblue-2-hover.png");
  background-size: contain;
}
.offcanvas-body .btn-lightblue:before {
  background: transparent url("../images/bg-btn-lightblue-2.png") no-repeat center center;
  background-size: 100% auto;
  transition: all 0.4s ease;
  background-size: contain;
}
.offcanvas-body .btn-lightblue span {
  position: relative;
  z-index: 2;
}
.offcanvas-body .btn-darkblue {
  width: 297px;
  height: 41px;
}
.offcanvas-body .btn-darkblue:hover:before {
  background-image: url("../images/bg-btn-bluedark-hover.png");
  background-size: contain;
}
.offcanvas-body .btn-darkblue:before {
  background: transparent url("../images/bg-btn-bluedark.png") no-repeat center center;
  background-size: 100% auto;
  transition: all 0.4s ease;
  background-size: contain;
}
.offcanvas-body .btn-darkblue span {
  position: relative;
  z-index: 2;
}
.offcanvas-body .btn-darkpink {
  width: 297px;
  height: 41px;
}
.offcanvas-body .btn-darkpink:hover:before {
  background-image: url("../images/bg-btn-darkpink-hover.png");
  background-size: contain;
}
.offcanvas-body .btn-darkpink:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-darkpink.png") no-repeat center center;
  background-size: contain;
  transition: all 0.4s ease;
}
.offcanvas-body .btn-darkpink span {
  position: relative;
  z-index: 2;
}

.btn-blue {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  height: 61px;
  line-height: 61px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff !important;
  background: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 0 15px;
  margin: 0;
}
.btn-blue:hover:before {
  opacity: 0;
}
.btn-blue:hover:after {
  opacity: 1;
}
.btn-blue:before {
  opacity: 1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-blue.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-blue:after {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-blue-hover.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-blue span {
  position: relative;
  z-index: 2;
}

.btn-lightblue {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  height: 45px;
  line-height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff !important;
  background: none;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 0 15px;
  margin: 0;
}
.btn-lightblue:hover:before {
  opacity: 0;
}
.btn-lightblue:hover:after {
  opacity: 1;
}
.btn-lightblue:before {
  opacity: 1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-lightblue.png") no-repeat center center;
  background-size: 100% auto;
  transition: all 0.4s ease;
}
.btn-lightblue:after {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-lightblue-hover.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-lightblue span {
  position: relative;
  z-index: 2;
}

.btn-darkblue {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  height: 45px;
  line-height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff !important;
  background: none;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 0 15px;
  margin: 0;
}
.btn-darkblue:hover:before {
  opacity: 0;
}
.btn-darkblue:hover:after {
  opacity: 1;
}
.btn-darkblue:before {
  opacity: 1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-bluedark.png") no-repeat center center;
  background-size: 100% auto;
  transition: all 0.4s ease;
}
.btn-darkblue:after {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-bluedark-hover.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-darkblue span {
  position: relative;
  z-index: 2;
}

.btn-darkpink {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  height: 45px;
  line-height: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #fff !important;
  background: none;
  text-align: center;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 0 15px;
  margin: 0;
}
.btn-darkpink:hover:before {
  opacity: 0;
}
.btn-darkpink:hover:after {
  opacity: 1;
}
.btn-darkpink:before {
  opacity: 1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-darkpink.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-darkpink:after {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url("../images/bg-btn-darkpink-hover.png") no-repeat center center;
  background-size: 100% 100%;
  transition: all 0.4s ease;
}
.btn-darkpink span {
  position: relative;
  z-index: 2;
}

.btn-blue-2 {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  height: 56px;
  line-height: 56px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff !important;
  background: #6792ff;
  font-size: 15px;
  box-shadow: inset 0px -4px 0px #4866c3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: 0 15px;
  margin: 0;
}
.btn-blue-2:hover {
  background: #4871db;
  box-shadow: inset 0px -4px 0px #334faa;
}

.btn-scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: -200px;
  background: none;
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 99;
  transition: all 0.4s ease;
}
.btn-scroll-to-top:hover {
  transform: translate(0, -5px);
}
.btn-scroll-to-top.active {
  bottom: 20px;
}
.btn-scroll-to-top .ic-arrow {
  display: block;
  margin-bottom: -14px;
}
.btn-scroll-to-top .txt {
  display: block;
}

@media only screen and (max-width: 575px) {
  #some-element {
    display: none;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3B1F88;
  z-index: 999999;
  display: none;
}

#preloader .preloader {
  width: 314px;
  height: 314px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.box-preloader.active {
  display: block !important;
}

/* -----------------------------------------------------------
	.main-header
----------------------------------------------------------- */
.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 1400px) {
  .main-header .container {
    max-width: 1050px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header {
    background: rgba(0, 18, 84, 0.6);
  }
}
@media only screen and (max-width: 575px) {
  .main-header .box-lang {
    display: none;
  }
}
.main-header .box-inner {
  position: relative;
  background: transparent url(../images/bg-header.png) no-repeat center top;
  background-size: contain;
  height: 74px;
  padding: 6px 48px 0 0;
}
@media only screen and (min-width: 1690px) {
  .main-header .box-inner {
    height: 85px;
  }
}
@media only screen and (max-width: 1689px) {
  .main-header .box-inner {
    padding-top: 2px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-header .box-inner {
    padding-right: 36px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .box-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    padding: 0;
  }
}
@media (min-width: 1440px) and (max-width: 1699px) {
  .main-header .box-inner {
    height: 82px;
  }
}
.main-header .logo {
  position: absolute;
  left: 35px;
  top: 0;
  text-decoration: none;
}
@media only screen and (max-width: 1689px) {
  .main-header .logo {
    left: 15px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-header .logo {
    left: 0;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .main-header .logo {
    left: 45px;
  }
}
.main-header .logo a {
  text-decoration: none;
}
.main-header .logo img {
  width: 150px;
}
@media only screen and (min-width: 1690px) {
  .main-header .logo img {
    width: 170px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .main-header .logo img {
    width: 165px;
  }
}
.main-header .btn-menu {
  border: 0;
  outline: 0;
  background: none;
  padding: 0;
  margin: 0;
}
.main-header .btn-menu svg {
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 575px) {
  .main-header .btn-menu svg {
    width: 25px;
    height: 25px;
  }
}
.main-header .box-nav {
  padding-left: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 1690px) {
  .main-header .box-nav {
    padding-left: 180px;
  }
}
@media (min-width: 1440px) and (max-width: 1690px) {
  .main-header .box-nav {
    margin-top: 7px;
  }
}
@media (max-width: 1440px) {
  .main-header .box-nav {
    margin-top: 3px;
  }
}
@media only screen and (max-width: 575px) {
  .main-header .box-nav {
    padding-left: 0;
    margin-top: 0;
  }
}
.main-header .box-nav .main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-header .box-nav .main-nav li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
}
@media only screen and (max-width: 1689px) {
  .main-header .box-nav .main-nav li {
    margin-left: 0;
  }
}
.main-header .box-nav .main-nav li:hover > .submenu {
  display: block;
}
.main-header .box-nav .main-nav li > a {
  display: block;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #FFFFFF;
  text-decoration: none;
  padding: 6px 11px;
}
@media only screen and (max-width: 1199px) {
  .main-header .box-nav .main-nav li > a {
    font-size: 14px;
  }
}
.main-header .box-nav .main-nav li > a:hover {
  color: #FFC403;
}
.main-header .box-nav .main-nav li > a:hover:before {
  opacity: 1;
}
.main-header .box-nav .main-nav li > a:before {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(28, 13, 99, 0.41) 0%, rgba(7, 0, 52, 0.2255) 100%);
  border-radius: 13px;
  transition: all 0.4s ease;
}
.main-header .box-nav .main-nav li > a span {
  position: relative;
}
.main-header .box-nav .main-nav .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 222px;
  padding-top: 22px;
}
@media only screen and (max-width: 1689px) {
  .main-header .box-nav .main-nav .submenu {
    padding-top: 18px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-header .box-nav .main-nav .submenu {
    padding-top: 15px;
  }
}
.main-header .box-nav .main-nav .submenu:before {
  content: '';
  position: absolute;
  left: 0;
  top: 22px;
  width: 100%;
  height: 10px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(229, 229, 229, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(229, 229, 229, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(229, 229, 229, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00e5e5e5',GradientType=0 );
  /* IE6-9 */
  z-index: 1;
}
@media only screen and (max-width: 1689px) {
  .main-header .box-nav .main-nav .submenu:before {
    top: 18px;
  }
}
@media only screen and (max-width: 1199px) {
  .main-header .box-nav .main-nav .submenu:before {
    top: 15px;
  }
}
.main-header .box-nav .main-nav .submenu ul {
  position: relative;
  list-style: none;
  padding: 20px 18px 35px;
  margin: 0;
}
.main-header .box-nav .main-nav .submenu ul:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 20px);
  background: transparent url(../images/bg-submenu-middle.png) repeat-y center center;
  background-size: 100% auto;
}
.main-header .box-nav .main-nav .submenu ul:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  background: transparent url(../images/bg-submenu-bottom.png) no-repeat center bottom;
  background-size: 100% auto;
  z-index: 1;
}
.main-header .box-nav .main-nav .submenu ul li {
  display: block;
  position: relative;
  margin: 0;
  z-index: 2;
}
.main-header .box-nav .main-nav .submenu ul li > a {
  font-size: 15px;
}
.main-header .box-btns {
  margin-left: 30px;
}
@media only screen and (max-width: 1689px) {
  .main-header .box-btns {
    margin-left: 10px;
  }
}
.main-header .box-btns .btn-action {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1px;
}
@media only screen and (max-width: 1199px) {
  .main-header .box-btns .btn-action {
    height: 35px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .box-btns .btn-action {
    height: 46px;
    line-height: 46px;
  }
}
@media only screen and (max-width: 575px) {
  .main-header .box-btns .btn-action {
    height: 40px;
    line-height: 40px;
  }
}
.main-header .box-btns .btn-login {
  min-width: 183px;
}
@media only screen and (max-width: 1199px) {
  .main-header .box-btns .btn-login {
    min-width: 0;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .box-btns .btn-login {
    min-width: 183px;
  }
}
@media only screen and (max-width: 575px) {
  .main-header .box-btns .btn-login {
    min-width: 140px;
  }
}
.main-header .box-btns .btn-try-free {
  min-width: 146px;
}
@media only screen and (max-width: 1199px) {
  .main-header .box-btns .btn-try-free {
    min-width: 0;
  }
}
@media only screen and (max-width: 991px) {
  .main-header .box-btns .btn-try-free {
    min-width: 146px;
  }
}
@media only screen and (max-width: 575px) {
  .main-header .box-btns .btn-try-free {
    min-width: 140px;
  }
}

.box-lang {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1.5vw;
}
.box-lang a {
  position: relative;
  display: block;
}
.box-lang img {
  width: 8.438vw;
  height: 2.292vw;
}
.box-lang span {
  position: absolute;
  right: 1.7vw;
  top: 50%;
  margin-top: -1vw;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}

/* -----------------------------------------------------------
	.offcanvas
----------------------------------------------------------- */
.offcanvas {
  background: rgba(60, 24, 136, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
@media only screen and (max-width: 575px) {
  .offcanvas.offcanvas-start {
    max-width: 350px;
  }
}
.offcanvas .btn-close-offcanvas {
  position: absolute;
  left: 20px;
  top: 20px;
  border: 0;
  outline: 0;
  background: none;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.offcanvas .offcanvas-body {
  padding: 100px 12px 50px;
  position: relative;
}
.offcanvas .offcanvas-body .box-lang {
  position: absolute;
  right: 15px;
  top: 2vw;
  margin-top: 0;
}
.offcanvas .offcanvas-body .box-lang img {
  width: 43.200vw;
  height: 11.733vw;
}
.offcanvas .offcanvas-body .box-lang span {
  position: absolute;
  right: 8.7vw;
  top: 50%;
  margin-top: -4vw;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
}
.offcanvas .offcanvas-body .box-nav {
  margin-bottom: 45px;
}
.offcanvas .offcanvas-body .box-nav .main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.offcanvas .offcanvas-body .box-nav .main-nav li {
  margin-bottom: 22px;
}
.offcanvas .offcanvas-body .box-nav .main-nav li a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 21px;
}
.offcanvas .offcanvas-body .box-nav .main-nav li a:hover {
  color: #FFC403;
}
.offcanvas .offcanvas-body .box-nav .main-nav li a:hover:before {
  opacity: 1;
}
.offcanvas .offcanvas-body .box-nav .main-nav li a:before {
  opacity: 0;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(28, 13, 99, 0.41) 0%, rgba(7, 0, 52, 0.2255) 100%);
  border-radius: 22px;
  transition: all 0.4s ease;
}
.offcanvas .offcanvas-body .box-nav .main-nav li a span {
  position: relative;
}
.offcanvas .offcanvas-body .box-nav .main-nav .submenu {
  padding-left: 65px;
}
.offcanvas .offcanvas-body .box-nav .main-nav .submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.offcanvas .offcanvas-body .box-nav .main-nav .submenu ul li {
  margin-bottom: 2px;
}
.offcanvas .offcanvas-body .box-nav .main-nav .submenu ul li > a {
  font-size: 15px;
  text-transform: uppercase;
}
.offcanvas .offcanvas-body .box-btns {
  padding: 0 0px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 58px;
}
.offcanvas .offcanvas-body .box-btns .btn-action {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 0 auto 20px auto;
}
.offcanvas .offcanvas-body .box-btns .btn-action:hover:before {
  opacity: 0.7;
}
.offcanvas .offcanvas-body .box-btns .btn-action:before {
  opacity: 1;
}
.offcanvas .offcanvas-body .box-btns .btn-action:after {
  display: none;
}
.offcanvas .offcanvas-body .box-btns .btn-login:before {
  background-image: url("../images/bg-btn-lightblue-2.png");
}
.offcanvas .offcanvas-body .box-btns .btn-try-free:before {
  background-image: url("../images/bg-btn-darkpink-2.png");
}
.offcanvas .offcanvas-body .box-logo {
  text-align: center;
}

/* -----------------------------------------------------------
	.footer
----------------------------------------------------------- */
.footer {
  padding: 260px 50px 0;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 575px) {
  .footer {
    padding: 100px 0px 0;
  }
}
.footer:before {
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  background: transparent url("../images/bg_footer.png") no-repeat center top;
  background-size: cover;
}
@media only screen and (min-width: 1690px) {
  .footer:before {
    top: -20px;
  }
}
@media only screen and (max-width: 575px) {
  .footer:before {
    background: transparent url("../images/bg-footer-sp.png") no-repeat center bottom;
    background-size: cover;
  }
}
.footer .box-inner {
  margin: auto;
  position: relative;
  padding: 20px 0;
}
@media only screen and (max-width: 575px) {
  .footer .box-inner {
    padding: 0 15px;
  }
}
.footer .title-footer {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1689px) {
  .footer .title-footer {
    font-size: 15px;
  }
}
.footer .ft-logo {
  margin-bottom: 20px;
  position: absolute;
  top: -220px;
  left: 0px;
}
@media only screen and (max-width: 575px) {
  .footer .ft-logo {
    left: 0;
  }
}
.footer .ft-logo .logo a {
  opacity: 1;
}
.footer .ft-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media only screen and (max-width: 1199px) {
  .footer .ft-main {
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .footer .ft-main {
    flex-direction: column;
  }
}
.footer .ft-main .ft-col {
  margin-bottom: 30px;
}
.footer .ft-main .col-logo {
  min-width: 330px;
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .col-logo {
    min-width: 0;
  }
}
.footer .ft-main .box-footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media only screen and (max-width: 1199px) {
  .footer .ft-main .box-footer-nav {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .box-footer-nav {
    display: block;
    margin-top: 30px;
  }
}
.footer .ft-main .box-footer-nav .box-nav-item {
  margin: 0 0 0 55px;
}
@media only screen and (min-width: 1690px) {
  .footer .ft-main .box-footer-nav .box-nav-item {
    margin: 0 0 0 42px;
  }
}
@media (min-width: 1600px) and (max-width: 1689px) {
  .footer .ft-main .box-footer-nav .box-nav-item {
    margin: 0 0 0 42px;
  }
}
@media only screen and (max-width: 1199px) {
  .footer .ft-main .box-footer-nav .box-nav-item {
    margin: 0 30px 0 0;
  }
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .box-footer-nav .box-nav-item {
    width: 49%;
    margin: 0 0 20px 0;
    display: inline-block;
  }
  .footer .ft-main .box-footer-nav .box-nav-item:last-child {
    width: 100%;
  }
}
.footer .ft-main .col-logo .txt {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media only screen and (max-width: 1689px) {
  .footer .ft-main .col-logo .txt {
    font-size: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .list-social .title-footer {
    text-align: center;
  }
}
.footer .ft-main .nav {
  display: block;
}
.footer .ft-main .nav ul.box-social {
  margin-top: -15px;
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .nav ul.box-social {
    text-align: center;
  }
}
.footer .ft-main .nav ul.box-social li {
  display: inline-block;
  padding: 0 20px 0 0;
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .nav ul.box-social li {
    padding: 0 9px;
  }
}
.footer .ft-main .nav ul.box-social li img {
  max-width: 48px;
}
.footer .ft-main .nav ul li {
  display: block;
  margin-left: 0;
}
.footer .ft-main .nav ul li a {
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media only screen and (max-width: 1689px) {
  .footer .ft-main .nav ul li a {
    font-size: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .footer .ft-main .nav ul li a {
    white-space: nowrap;
  }
}

figure, figcaption {
  display: block;
}

.transition {
  -webkit-transition: top 400ms linear;
  -moz-transition: top 400ms linear;
  -ms-transition: top 400ms linear;
  -o-transition: top 400ms linear;
  transition: top 400ms linear;
}

.timeTo {
  font-family: Tahoma, Verdana, Aial, sans-serif;
  font-size: 28px;
  line-height: 108%;
  font-weight: bold;
  height: 32px;
}

.timeTo span {
  vertical-align: top;
}

.timeTo.timeTo-white div {
  color: black;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 38%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(38%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 38%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 38%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 38%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 38%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */
}

.timeTo.timeTo-black div {
  color: white;
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

.timeTo.timeTo-black .timeTo-alert {
  background: #a74444;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a74444 0%, #3f0000 67%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a74444), color-stop(67%, #3f0000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a74444 0%, #3f0000 67%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a74444 0%, #3f0000 67%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a74444 0%, #3f0000 67%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a74444 0%, #3f0000 67%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a74444', endColorstr='#3f0000',GradientType=0 );
  /* IE6-9 */
}

.timeTo.timeTo-white .timeTo-alert {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 35%, #e17373 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ffffff), color-stop(100%, #e17373));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 35%, #e17373 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 35%, #e17373 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 35%, #e17373 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 35%, #e17373 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e17373',GradientType=0 );
  /* IE6-9 */
}

.timeTo figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.timeTo figcaption {
  text-align: center;
  /*font-size: 12px;*/
  line-height: 80%;
  font-weight: normal;
  color: #888;
}

.timeTo div {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 30px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  overflow: hidden;
}

.timeTo div.first {
  border-left: 1px solid silver;
}

.timeTo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 3px;
}

.timeTo ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -----------------------------------------------------------
	.con-faqs
----------------------------------------------------------- */
.con-planet {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 1000px 0 0 0;
}
@media only screen and (max-width: 1199px) {
  .con-planet {
    padding: 30px 0;
  }
}
.con-planet:before {
  position: absolute;
  top: -3vw;
  left: -5.20833vw;
  width: 20.52083vw;
  height: 46.71875vw;
  content: "";
  background: transparent url("../images/img-bingo.png") no-repeat right center;
  background-size: contain;
  transform: rotate(10deg);
}
.con-planet:after {
  position: absolute;
  top: -1vw;
  right: -2.60417vw;
  width: 17.8125vw;
  height: 9.79167vw;
  content: "";
  background: transparent url("../images/img-planet-top.png") no-repeat left center;
  background-size: contain;
}
.con-planet .title-md {
  position: absolute;
  left: 0;
  width: 100%;
  top: 560px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .title-md {
    position: relative;
    top: 0;
  }
}
.con-planet .title-md .md {
  margin-top: -10px;
}
@media only screen and (max-width: 575px) {
  .con-planet .title-md .md {
    font-size: 25px;
  }
}
.con-planet .box-planet {
  position: relative;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet {
    padding: 13.02083vw 0;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet {
    padding: 0;
  }
}
.con-planet .box-planet .title-md {
  margin: -50px 0 -15px 0;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .title-md {
    margin: 10px 0 30px 0;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .title-md {
    margin: 10px 0 30px 0;
  }
}
.con-planet .box-planet .title-md .md {
  margin-top: -10px;
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .title-md .md {
    font-size: 25px;
  }
}
.con-planet .box-planet h4 {
  text-align: center;
  width: 338px;
  height: 56px;
  line-height: 44px;
  margin: 0 auto 50px auto;
  background: transparent url("../images/bg-title-plan.png") no-repeat left center;
  background-size: contain;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* or 100% */
  text-align: center;
  color: #FFFFFF;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .plan-top {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .plan-top {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .plan-bottom {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .plan-bottom {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
}
.con-planet .box-planet .planet-wrap .box-item {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  transform: scale(0.8);
  opacity: 0.7;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item {
    margin-bottom: 50px !important;
  }
}
.con-planet .box-planet .planet-wrap .box-item:hover {
  transform: scale(1);
  opacity: 1;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item {
    width: 33.33%;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    padding: 0 5px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item {
    width: 50%;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    padding: 0 5px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.active {
  transform: scale(1);
  opacity: 1;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.ioe-top {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.ioe-top {
    margin-top: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.movers {
  margin-top: -150px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.movers {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.movers {
    margin-top: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.starters {
  margin-top: -258px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.starters {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.starters {
    margin-top: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.flyers {
  margin-top: -170px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.flyers {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.flyers {
    margin-top: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.ioe {
  margin-bottom: -155px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.ioe {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.ioe {
    margin-bottom: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.ielts {
  margin-bottom: -258px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.ielts {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.ielts {
    margin-bottom: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item.toefl-junior {
  margin-bottom: -155px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item.toefl-junior {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item.toefl-junior {
    margin-bottom: 0px;
  }
}
.con-planet .box-planet .planet-wrap .box-item .featured {
  margin: 0;
  padding: 0;
  text-align: center;
}
.con-planet .box-planet .planet-wrap .box-item .txt-top {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 8px #FF00F5;
}
.con-planet .box-planet .planet-wrap .box-item .box-txt {
  margin-top: -15px;
  width: 246px;
  height: 43px;
  line-height: 43px;
  background: transparent url("../images/bg-txt.png") no-repeat top center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item .box-txt {
    height: 35px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item .box-txt {
    height: 29px;
    width: auto;
  }
}
.con-planet .box-planet .planet-wrap .box-item .box-txt span {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 171% */
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
  padding: 0 10px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-planet .planet-wrap .box-item .box-txt span {
    font-size: 9px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-planet .planet-wrap .box-item .box-txt span {
    font-size: 9px;
    line-height: 10px;
    width: 100%;
    padding: 0 20px;
  }
}
.con-planet .box-planet .planet-wrap .plan-top {
  display: flex;
  align-items: center;
}
.con-planet .box-planet .planet-wrap .plan-bottom {
  display: flex;
  align-items: center;
}
.con-planet .box-item {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-item {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-item {
    margin-bottom: 50px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-item {
    width: 33.33%;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    padding: 0 5px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-item {
    width: 50%;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    padding: 0 5px;
  }
}
.con-planet .box-item.active .item-planet-wrap {
  opacity: 1;
  transform: scale(1.05);
}
.con-planet .box-item .item-planet-wrap {
  transform: scale(0.95);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  opacity: 0.8;
}
.con-planet .box-item .item-planet-wrap:hover {
  transform: scale(1.05);
  opacity: 1;
}
.con-planet .box-item .featured {
  margin: 0;
  padding: 0;
  text-align: center;
  transform: scale(0.8);
}
.con-planet .box-item .txt-top {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 8px #FF00F5;
}
.con-planet .box-item .box-txt {
  margin-top: -15px;
  width: 246px;
  height: 43px;
  line-height: 43px;
  background: transparent url("../images/bg-txt.png") no-repeat top center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-item .box-txt {
    height: 35px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-item .box-txt {
    height: 29px;
    width: auto;
  }
}
.con-planet .box-item .box-txt span {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 171% */
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
  padding: 0 10px;
}
@media only screen and (max-width: 1199px) {
  .con-planet .box-item .box-txt span {
    font-size: 9px;
  }
}
@media only screen and (max-width: 575px) {
  .con-planet .box-item .box-txt span {
    font-size: 9px;
    line-height: 10px;
    width: 100%;
    padding: 0 20px;
  }
}
.con-planet .box-planet-wrap {
  display: flex;
  align-items: center;
  width: 200px;
  text-align: center;
  top: 100%;
  left: 50%;
  height: 280px;
  position: relative;
  perspective: 1000px;
  transform: translate3d(-50%, -50%, 600px);
  /* ^^^ 600px for safari hack */
  transform-style: preserve-3d;
}
.con-planet .box-planet-wrap .box-item {
  position: absolute;
  width: 100%;
  margin: auto;
  cursor: pointer;
}
.con-planet .box-planet-wrap .box-item.active {
  opacity: 1 !important;
}
.con-planet .box-planet-wrap .box-item img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  transform-origin: center center;
  transition: all 0.4s ease;
}

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
.con-benefit {
  margin-top: -30px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 575px) {
  .con-benefit {
    margin-top: -10px;
    padding-top: 30px;
  }
}
.con-benefit .title-lg {
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  z-index: 3;
  padding-top: 50px;
}
@media only screen and (min-width: 1690px) {
  .con-benefit .title-lg {
    padding-top: 180px;
  }
}
@media (min-width: 1440px) and (max-width: 1690px) {
  .con-benefit .title-lg {
    padding-top: 230px;
  }
}
@media only screen and (min-width: 1200px) {
  .con-benefit .title-lg {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-benefit .title-lg {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .title-lg {
    margin-bottom: 40px;
    font-size: 24px;
    padding-top: 0;
  }
}
.con-benefit .box-slider-wrapper {
  position: relative;
}
@media only screen and (max-width: 1689px) {
  .con-benefit .box-slider-wrapper {
    padding: 0 60px 60px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper {
    padding: 0 20px 60px;
  }
}
.con-benefit .box-slider-wrapper .box-slider {
  overflow: hidden;
}
.con-benefit .box-slider-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translate(0, -50%);
  width: 64px;
  height: 73px;
  text-indent: -9999px;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1689px) {
  .con-benefit .box-slider-wrapper .slick-arrow {
    width: 54px;
    height: 68px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slick-arrow {
    width: 9vw;
    height: 10vw;
  }
}
.con-benefit .box-slider-wrapper .slick-prev {
  left: -88px;
  background: transparent url("../images/ic-prev.png") no-repeat left center;
  background-size: contain;
}
@media only screen and (max-width: 1689px) {
  .con-benefit .box-slider-wrapper .slick-prev {
    left: -15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slick-prev {
    left: 0;
  }
}
.con-benefit .box-slider-wrapper .slick-next {
  right: -88px;
  background: transparent url("../images/ic-next.png") no-repeat right center;
  background-size: contain;
}
@media only screen and (max-width: 1689px) {
  .con-benefit .box-slider-wrapper .slick-next {
    right: -15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slick-next {
    right: 0;
  }
}
.con-benefit .box-slider-wrapper .slick-list {
  margin: 0 -38px;
}
@media only screen and (max-width: 1199px) {
  .con-benefit .box-slider-wrapper .slick-list {
    margin: 0 -15px;
  }
}
.con-benefit .box-slider-wrapper .slide-item {
  text-align: center;
  outline: 0;
  padding: 0 38px;
}
@media only screen and (max-width: 1199px) {
  .con-benefit .box-slider-wrapper .slide-item {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slide-item {
    margin-bottom: 40px;
  }
}
.con-benefit .box-slider-wrapper .slide-item .img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px;
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slide-item .img {
    margin-bottom: 27px;
  }
}
.con-benefit .box-slider-wrapper .slide-item .txt-title {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.30435;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}
@media only screen and (min-width: 1690px) {
  .con-benefit .box-slider-wrapper .slide-item .txt-title {
    min-height: 49px;
  }
}
@media only screen and (max-width: 1689px) {
  .con-benefit .box-slider-wrapper .slide-item .txt-title {
    font-size: 19px;
    min-height: 49px;
  }
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slide-item .txt-title {
    font-size: 15px;
    margin-bottom: 13px;
    min-height: 0;
  }
}
.con-benefit .box-slider-wrapper .slide-item .txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
}
@media only screen and (max-width: 575px) {
  .con-benefit .box-slider-wrapper .slide-item .txt {
    font-size: 14px;
  }
}

/* -----------------------------------------------------------
	.con-comment
----------------------------------------------------------- */
.con-comment {
  position: relative;
  z-index: 1;
}
.con-comment:after {
  position: absolute;
  top: -18vw;
  right: 0;
  width: 13.85417vw;
  height: 23.4375vw;
  content: "";
  background: transparent url("../images/img-cake.png") no-repeat center center;
  background-size: contain;
  z-index: 3;
}
@media only screen and (min-width: 1690px) {
  .con-comment:after {
    right: 0vw;
  }
}
.con-comment:before {
  position: absolute;
  top: -9.375vw;
  bottom: -18vw;
  left: 0;
  width: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(1, 1, 34, 0) 0%, #010122 13.02%, #3532ad 75%, #6e39b1 82.44%, rgba(53, 50, 173, 0) 100%);
  z-index: 1;
}
.con-comment .title-md {
  margin-bottom: 50px;
  position: relative;
  z-index: 3;
}
.con-comment .box-bg-slider {
  background: transparent url(../images/bg-comment.png) no-repeat center center;
  background-size: cover;
  padding: 50px 0px 180px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-bg-slider {
    padding: 110px 0px 220px;
  }
}
@media only screen and (max-width: 991px) {
  .con-comment .box-bg-slider {
    padding: 50px 0px 110px;
  }
}
.con-comment .box-slider-wrapper {
  position: relative;
}
@media only screen and (min-width: 1690px) {
  .con-comment .box-slider-wrapper {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1689px) {
  .con-comment .box-slider-wrapper {
    padding: 0 60px;
  }
}
@media only screen and (max-width: 767px) {
  .con-comment .box-slider-wrapper {
    padding: 0;
  }
}
.con-comment .box-slider-wrapper .box-slider {
  overflow: hidden;
}
.con-comment .box-slider-wrapper .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translate(0, -50%);
  width: 64px;
  height: 73px;
  text-indent: -9999px;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1689px) {
  .con-comment .box-slider-wrapper .slick-arrow {
    width: 54px;
    height: 68px;
  }
}
@media only screen and (max-width: 575px) {
  .con-comment .box-slider-wrapper .slick-arrow {
    width: 9vw;
    height: 10vw;
  }
}
.con-comment .box-slider-wrapper .slick-prev {
  left: -120px;
  background: transparent url("../images/ic-prev.png") no-repeat left center;
  background-size: contain;
}
@media only screen and (max-width: 1599px) {
  .con-comment .box-slider-wrapper .slick-prev {
    left: -88px;
  }
}
@media only screen and (max-width: 1689px) {
  .con-comment .box-slider-wrapper .slick-prev {
    left: -15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-comment .box-slider-wrapper .slick-prev {
    left: 0;
  }
}
.con-comment .box-slider-wrapper .slick-next {
  right: -120px;
  background: transparent url("../images/ic-next.png") no-repeat right center;
  background-size: contain;
}
@media only screen and (max-width: 1599px) {
  .con-comment .box-slider-wrapper .slick-next {
    right: -88px;
  }
}
@media only screen and (max-width: 1689px) {
  .con-comment .box-slider-wrapper .slick-next {
    right: -15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-comment .box-slider-wrapper .slick-next {
    right: 0;
  }
}
.con-comment .box-slider-wrapper .slide-item {
  position: relative;
  outline: 0;
  padding: 20px 20px 60px;
}
@media only screen and (max-width: 1689px) {
  .con-comment .box-slider-wrapper .slide-item {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-slider-wrapper .slide-item {
    padding: 30px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .con-comment .box-slider-wrapper .slide-item {
    padding: 0;
  }
}
.con-comment .box-slider-wrapper .slide-item:before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 20px;
  bottom: 20px;
  background: rgba(30, 9, 97, 0.81);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
@media only screen and (max-width: 767px) {
  .con-comment .box-slider-wrapper .slide-item:before {
    display: none;
  }
}
.con-comment .box-slider-wrapper .slide-item > * {
  position: relative;
}
.con-comment .box-slider-wrapper .slide-item .col-detail {
  margin-left: 22px;
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-slider-wrapper .slide-item .col-detail {
    margin-left: 15px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-detail {
  position: relative;
  padding: 56px 0 46px 10px;
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .box-detail {
    padding: 40px 30px;
  }
}
@media only screen and (max-width: 767px) {
  .con-comment .box-slider-wrapper .slide-item .box-detail {
    padding: 0;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-detail .ic-quote-left {
  position: absolute;
  left: -30px;
  top: 0;
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .box-detail .ic-quote-left {
    left: 0;
    width: 25px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-detail .ic-quote-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .box-detail .ic-quote-right {
    width: 25px;
    bottom: 10px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-info {
  margin: 0 0 13px;
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .box-info {
    max-width: 90%;
    margin: 0 auto 13px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-info .img-avatar {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 118px;
  height: 118px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-slider-wrapper .slide-item .box-info .img-avatar {
    width: 80px;
    height: 80px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-info .txt-title-item {
  margin-bottom: 5px;
}
.con-comment .box-slider-wrapper .slide-item .box-info .txt-title-item .lg {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.3;
  color: #FFFFFF;
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-slider-wrapper .slide-item .box-info .txt-title-item .lg {
    font-size: 18px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-info .txt-title-item .md {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.38889;
  color: #FFFFFF;
}
.con-comment .box-slider-wrapper .slide-item .box-info .box-rating svg {
  margin-right: 6px;
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-slider-wrapper .slide-item .box-info .box-rating svg {
    width: 25px;
    margin-right: 0;
  }
}
.con-comment .box-slider-wrapper .slide-item .txt {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 2.04167;
  color: #FFFFFF;
}
@media only screen and (max-width: 1199px) {
  .con-comment .box-slider-wrapper .slide-item .txt {
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .txt {
    font-size: 16px;
    line-height: 1.5625;
  }
}
.con-comment .box-slider-wrapper .slide-item .col-video {
  padding-top: 40px;
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .col-video {
    padding-top: 20px;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-video {
  max-width: 484px;
  background: transparent url(../images/bg-video.png) no-repeat center center;
  background-size: 100% 100%;
  padding: 30px 26px;
}
@media only screen and (max-width: 991px) {
  .con-comment .box-slider-wrapper .slide-item .box-video {
    max-width: 95%;
    padding: 17px 20px;
    margin: 0 auto;
  }
}
.con-comment .box-slider-wrapper .slide-item .box-video .box-iframe {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.3981%;
}
.con-comment .box-slider-wrapper .slide-item .box-video .box-iframe iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* -----------------------------------------------------------
	.con-course
----------------------------------------------------------- */
.con-course {
  position: relative;
  z-index: 1;
  position: relative;
  padding: 100px 0px;
}
@media only screen and (max-width: 575px) {
  .con-course {
    padding: 45px 0px;
    overflow: hidden;
  }
}
.con-course:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 2, 56, 0.8);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.con-course > * {
  position: relative;
}
.con-course .title-lg {
  margin-bottom: 35px;
}
@media only screen and (max-width: 767px) {
  .con-course .title-lg {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.con-course .box-countdown {
  max-width: 570px;
  margin-bottom: 50px;
}
.con-course .box-countdown .txt {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
  padding-top: 16px;
}
.con-course .box-countdown .countdown {
  font-family: "Open Sans", sans-serif !important;
}
.con-course .box-countdown .countdown > span {
  color: transparent;
  padding: 0 9px;
}
.con-course .box-countdown .countdown figure {
  max-width: 90px !important;
  text-align: center;
}
.con-course .box-countdown .countdown figure > div {
  width: 30px !important;
}
.con-course .box-countdown .countdown figure > div ul {
  left: 1px !important;
}
.con-course .box-countdown .countdown figure > div.first ul {
  left: 6px !important;
}
.con-course .box-countdown .countdown figcaption {
  font-style: normal;
  font-weight: 300;
  font-size: 14px !important;
  line-height: 1.35714;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 16px;
}
.con-course .box-countdown .countdown div {
  background: none;
  border: 0;
}
.con-course .box-countdown .countdown ul li {
  font-style: normal;
  font-weight: 700;
  color: #FFFFFF;
}
@media only screen and (max-width: 991px) {
  .con-course .box-countdown .countdown {
    text-align: center;
    margin: 25px auto 45px;
  }
}
.con-course .box-pricing .title-col {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #312A5C;
  text-align: left;
  margin-bottom: 13px;
}
.con-course .box-pricing .box-cost {
  min-height: 180px;
}
@media only screen and (max-width: 991px) {
  .con-course .box-pricing .box-cost {
    min-height: 0;
  }
}
.con-course .box-pricing .price {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.35556;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #38A1FF;
}
.con-course .box-pricing .price .unit {
  font-size: 0.66em;
}
.con-course .box-pricing .col-free {
  padding-right: 11px;
}
@media only screen and (max-width: 991px) {
  .con-course .box-pricing .col-free {
    padding: 0;
    margin-bottom: 36px;
  }
}
.con-course .box-pricing .box-free {
  height: 100%;
  text-align: center;
  background: #cfcdda;
  box-shadow: 0px 10px 15px rgba(59, 31, 136, 0.3);
  border-radius: 16px;
  padding: 20px 20px 46px;
}
@media only screen and (max-width: 1199px) {
  .con-course .box-pricing .box-free {
    width: 367px;
    margin: 0 auto;
  }
}
.con-course .box-pricing .box-free .txt-free {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.35;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #312A5C;
  padding-top: 26px;
  margin-bottom: 14px;
}
.con-course .box-pricing .box-free .price {
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .con-course .box-pricing .box-free .price {
    margin-left: 10px;
  }
}
.con-course .box-pricing .box-free .box-btn {
  margin-bottom: 23px;
}
.con-course .box-pricing .box-free .box-btn .btn-action {
  min-width: 200px;
}
.con-course .box-pricing .box-free .box-txt p {
  font-size: 18px;
  line-height: 2.22222;
  letter-spacing: -0.02em;
  color: #312A5C;
}
@media only screen and (max-width: 991px) {
  .con-course .box-pricing .box-free {
    padding: 15px 20px;
    height: auto;
    display: flex;
    flex-flow: column;
  }
  .con-course .box-pricing .box-free .box-cost {
    order: 1;
  }
  .con-course .box-pricing .box-free .box-btn {
    margin: 10px auto;
    order: 3;
  }
  .con-course .box-pricing .box-free .box-txt {
    order: 2;
  }
  .con-course .box-pricing .box-free .box-txt p {
    line-height: 20px;
    font-size: 14px;
  }
  .con-course .box-pricing .box-free .txt-free, .con-course .box-pricing .box-free .price {
    display: inline-block;
  }
  .con-course .box-pricing .box-free .txt-free {
    padding: 0px;
    margin-bottom: 0;
  }
}
.con-course .box-pricing .box-paid-course {
  height: 100%;
  text-align: center;
  background: #e7e6ed;
  box-shadow: 0px 10px 15px rgba(59, 31, 136, 0.3);
  border-radius: 16px;
  padding: 20px 20px 25px;
}
@media only screen and (max-width: 575px) {
  .con-course .box-pricing .box-paid-course {
    display: block !important;
  }
}
.con-course .box-pricing .box-paid-course nav {
  background: #fff;
  margin: 0 -15px;
}
.con-course .box-pricing .box-paid-course nav .nav-tabs {
  text-align: center;
  justify-content: center;
}
.con-course .box-pricing .box-paid-course nav .nav-tabs .nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  color: #312A5C;
  border: 0;
  opacity: 0.5;
}
.con-course .box-pricing .box-paid-course nav .nav-tabs .nav-link.active {
  color: #312A5C;
  opacity: 1;
}
.con-course .box-pricing .box-paid-course .txt-duration {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.36667;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #312A5C;
}
.con-course .box-pricing .box-paid-course .txt-recommend {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #312A5C;
}
.con-course .box-pricing .box-paid-course .box-root-price {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.38889;
  letter-spacing: -0.02em;
  color: #312A5C;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.con-course .box-pricing .box-paid-course .box-root-price .txt-root-price {
  font-size: 0.6em;
}
.con-course .box-pricing .box-paid-course .box-root-price .root-price {
  text-decoration: line-through;
}
.con-course .box-pricing .box-paid-course .box-root-price .unit {
  font-size: 0.6em;
}
.con-course .box-pricing .box-paid-course .box-btn {
  margin-bottom: 23px;
}
.con-course .box-pricing .box-paid-course .box-btn .btn-action {
  min-width: 200px;
}
.con-course .box-pricing .box-paid-course .box-txt p {
  font-weight: 400;
  font-size: 18px;
  line-height: 2.22222;
  letter-spacing: -0.02em;
  color: #312A5C;
}
@media only screen and (max-width: 991px) {
  .con-course .box-pricing .box-paid-course {
    display: flex;
    flex-flow: column;
  }
  .con-course .box-pricing .box-paid-course .title-col {
    order: 1;
    text-align: center;
  }
  .con-course .box-pricing .box-paid-course .box-txt {
    margin-bottom: 30px;
    order: 2;
  }
  .con-course .box-pricing .box-paid-course .box-txt p {
    font-size: 14px;
    line-height: 20px;
  }
  .con-course .box-pricing .box-paid-course .row-cost {
    order: 3;
  }
  .con-course .box-pricing .box-paid-course .row-cost div[class^="col"] {
    margin-top: 20px;
  }
}
.con-course .box-course-buy {
  margin-top: 50px;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
  padding: 30px 0px 0;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
}
@media only screen and (max-width: 991px) {
  .con-course .box-course-buy {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .con-course .box-course-buy {
    margin-top: 30px;
  }
}
.con-course .box-course-buy ::placeholder {
  color: white;
  opacity: 1;
}
.con-course .box-course-buy :-ms-input-placeholder, .con-course .box-course-buy ::-ms-input-placeholder {
  color: white;
}
.con-course .box-course-buy .box-course-buy-wrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .con-course .box-course-buy .box-course-buy-wrap {
    align-items: flex-start;
  }
}
.con-course .box-course-buy .box-right {
  height: 100%;
}
@media only screen and (max-width: 575px) {
  .con-course .box-course-buy .box-right {
    margin-bottom: 0.5rem !important;
  }
}
.con-course .box-course-buy .col-md-7 {
  flex: 0 0 auto;
  width: 55.1%;
}
@media only screen and (min-width: 1690px) {
  .con-course .box-course-buy .col-md-7 {
    width: 54.1%;
  }
}
@media only screen and (max-width: 575px) {
  .con-course .box-course-buy .col-md-7 {
    width: 100%;
  }
}
.con-course .box-course-buy .box-title .title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}
.con-course .box-course-buy .box-title .des {
  font-size: 21px;
}
.con-course .box-course-buy .txt-bank {
  white-space: nowrap;
}
@media only screen and (max-width: 575px) {
  .con-course .box-course-buy .txt-bank {
    white-space: normal;
  }
}
.con-course .box-course-buy .form-control, .con-course .box-course-buy .btn {
  height: 56px;
  line-height: 56px;
  border-radius: 8px;
}
.con-course .box-course-buy .form-control {
  color: white;
  border: 1px solid #69578D;
  background: none;
  font-size: 16px;
}
.con-course .box-course-buy .btn-submit {
  width: 100%;
}
.con-course .box-course-buy #BUTTON923 {
  height: 0;
}
.con-course .box-course-buy .qr-code {
  margin-right: 50px;
  width: 12.6%;
}
@media only screen and (min-width: 768px) {
  .con-course .box-course-buy .qr-code.d-md-block {
    display: flex !important;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .con-course .box-course-buy .qr-code {
    width: 50%;
    margin: 0 auto;
  }
  .con-course .box-course-buy .qr-code img {
    width: 100%;
  }
}
.con-course .box-course-buy .box-course-info {
  width: 87.4%;
  display: flex;
  flex-direction: column;
  JUSTIFY-CONTENT: space-around;
}
@media only screen and (max-width: 575px) {
  .con-course .box-course-buy .box-course-info {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .con-course .box-course-buy .qr-code {
    width: 152px;
  }
  .con-course .box-course-buy .box-form {
    width: calc(100% - 152px);
  }
}
@media only screen and (max-width: 767px) {
  .con-course .box-course-buy p {
    margin: 0;
  }
  .con-course .box-course-buy .qr-code {
    margin: 13px auto 10px;
  }
  .con-course .box-course-buy .info-bank {
    text-align: center;
  }
  .con-course .box-course-buy .form {
    margin-top: 20px;
  }
  .con-course .box-course-buy .form .btn-submit {
    margin-top: 10px;
  }
}

/* -----------------------------------------------------------
	.con-news
----------------------------------------------------------- */
.con-news {
  position: relative;
  z-index: 1;
  padding: 7.8125vw 0 0 0;
  margin-bottom: 5.98958vw;
}
@media only screen and (max-width: 575px) {
  .con-news {
    padding: 45px 0 0 0;
  }
}
.con-news .title-lg {
  margin-bottom: 60px;
}
@media only screen and (max-width: 575px) {
  .con-news .title-lg {
    margin-bottom: 40px;
  }
}
.con-news .box-news {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1199px) {
  .con-news .box-news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 575px) {
  .con-news .box-news {
    display: block;
  }
}
.con-news .box-news .featured-news {
  width: 55.5%;
  position: relative;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.con-news .box-news .featured-news:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 2, 56, 0.8);
  border-radius: 4px;
}
@media only screen and (max-width: 1199px) {
  .con-news .box-news .featured-news {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .con-news .box-news .featured-news {
    width: 100%;
    margin-bottom: 15px;
  }
}
.con-news .box-news .featured-news .featured {
  padding: 10px;
}
.con-news .box-news .featured-news .featured img {
  width: 100%;
}
.con-news .box-news .featured-news p {
  position: relative;
  z-index: 1;
  margin: 0;
}
.con-news .box-news .featured-news p.img-partner {
  margin-top: -5px;
}
.con-news .box-news .featured-news p.img-partner img {
  width: 100%;
}
.con-news .box-news .box-news-info {
  width: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 1199px) {
  .con-news .box-news .box-news-info {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: stretch;
  }
}
@media only screen and (max-width: 575px) {
  .con-news .box-news .box-news-info {
    width: 100%;
  }
}
.con-news .box-news .box-news-info .box-item {
  position: relative;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 15px 25px;
  color: #fff;
  position: relative;
  height: 50%;
}
.con-news .box-news .box-news-info .box-item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 2, 56, 0.8);
  border-radius: 4px;
}
@media only screen and (max-width: 1199px) {
  .con-news .box-news .box-news-info .box-item {
    width: 100%;
    margin: 10px 5px !important;
  }
}
@media only screen and (max-width: 575px) {
  .con-news .box-news .box-news-info .box-item {
    width: 100%;
    margin: 5px 0px !important;
  }
}
.con-news .box-news .box-news-info .box-item:first-child {
  margin-bottom: 15px;
}
@media only screen and (max-width: 1199px) {
  .con-news .box-news .box-news-info .box-item:first-child {
    margin-bottom: 0;
  }
}
.con-news .box-news .box-news-info .box-item a {
  color: #fff;
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-size: 15px;
}
@media only screen and (min-width: 1690px) {
  .con-news .box-news .box-news-info .box-item a {
    margin-bottom: 20px;
  }
}
.con-news .box-news .box-news-info .box-item a.lnk-title {
  margin-bottom: 14px;
  display: block;
}
.con-news .box-news .box-news-info .box-item a span {
  color: #38A1FF;
  display: block;
}
.con-news .box-news .box-news-info .box-item p {
  position: relative;
  z-index: 1;
  font-size: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.con-news .box-news .box-news-info .box-item .box-lnk {
  color: #38A1FF;
  display: flex;
  justify-content: flex-end;
}

/* -----------------------------------------------------------
	.con-partner
----------------------------------------------------------- */
.con-partner {
  position: relative;
  z-index: 1;
  margin-bottom: 115px;
}
@media only screen and (max-width: 575px) {
  .con-partner {
    padding-top: 80px;
    margin-bottom: 85px;
  }
}
.con-partner .title-lg {
  margin-bottom: 30px;
}
.con-partner .box-banner ul {
  display: flex;
  justify-content: center;
}
.con-partner .box-banner ul li {
  display: inline-block;
  width: 150px;
  height: 108px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con-partner .slick-prev {
  left: 25px;
  background: transparent url("../images/ic-prev.png") no-repeat left center;
  background-size: contain;
}
@media only screen and (max-width: 1199px) {
  .con-partner .slick-prev {
    left: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .con-partner .slick-prev {
    left: 0;
  }
}
.con-partner .slick-next {
  right: 25px;
  background: transparent url("../images/ic-next.png") no-repeat right center;
  background-size: contain;
}
@media only screen and (max-width: 1199px) {
  .con-partner .slick-next {
    right: 10px;
  }
}
@media only screen and (max-width: 575px) {
  .con-partner .slick-next {
    right: 0;
  }
}

/* -----------------------------------------------------------
	.con-faqs
----------------------------------------------------------- */
.con-faqs {
  position: relative;
  z-index: 1;
}
.con-faqs .title-lg {
  margin-bottom: 50px;
}
@media only screen and (max-width: 575px) {
  .con-faqs .title-lg {
    margin-bottom: 20px;
  }
}
.con-faqs .box-faqs {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  padding: 47px 98px 39px;
}
@media only screen and (max-width: 767px) {
  .con-faqs .box-faqs {
    padding: 35px 50px;
  }
}
@media only screen and (max-width: 575px) {
  .con-faqs .box-faqs {
    padding: 35px 15px;
  }
}
.con-faqs .box-faqs:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 2, 56, 0.8);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 0.95;
}
.con-faqs .box-faqs > * {
  position: relative;
}
@media only screen and (max-width: 575px) {
  .con-faqs .box-faqs .accordion {
    padding: 0 10px;
  }
}
.con-faqs .box-faqs .accordion-item {
  background: transparent;
  border: 0;
  color: #fff;
}
.con-faqs .box-faqs .accordion-item .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
.con-faqs .box-faqs .accordion-item .accordion-button:not(.collapsed):after {
  background: transparent url("../images/ic-arrow-faq.png") no-repeat left center;
}
.con-faqs .box-faqs .accordion-item .accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  outline: none !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.con-faqs .box-faqs .accordion-item .accordion-button:after {
  background: transparent url("../images/ic-arrow-faq.png") no-repeat left center;
  width: 22px;
  height: 12px;
}
.con-faqs .box-faqs .accordion-item .accordion-body {
  padding: 1rem 3rem;
}
@media only screen and (max-width: 767px) {
  .con-faqs .box-faqs .accordion-item .accordion-body {
    padding: 5px 15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-faqs .box-faqs .accordion-item .accordion-body {
    padding: 5px 15px;
  }
}

.main-top {
  position: relative;
  z-index: 2;
}
.main-top:before {
  position: absolute;
  top: -9.375vw;
  height: 39.0625vw;
  left: 0;
  width: 100%;
  content: "";
  background: linear-gradient(180deg, rgba(91, 55, 135, 0) 0%, #5b3787 27.81%, #5b3787 67.24%, rgba(91, 55, 135, 0) 97.07%);
  z-index: 1;
}
@media only screen and (max-width: 575px) {
  .main-top:before {
    top: -45px;
    height: 200px;
  }
}
.main-top:after {
  position: absolute;
  top: 15.625vw;
  left: 0;
  width: 100%;
  bottom: 0;
  content: "";
  background: #612783 url(../images/bg-body1.png) center top;
  background-size: cover;
  z-index: 0;
}
@media only screen and (max-width: 575px) {
  .main-top:after {
    top: 7.8125vw;
  }
}

.main-bottom {
  background: #612783 url(../images/bg-body2.png) repeat-y center bottom;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.con-featured {
  position: relative;
  height: 700px;
  overflow: hidden;
}
@media only screen and (min-width: 1690px) {
  .con-featured {
    height: 1050px;
  }
}
@media (min-width: 1600px) and (max-width: 1689px) {
  .con-featured {
    height: 800px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured {
    height: 550px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured {
    margin-top: 75px;
    height: 100vh;
  }
}
.con-featured .box-featured {
  position: relative;
  height: 700px;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  background: #612783 url(../images/bg-featured.png) top center;
  background-size: cover;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured {
    height: 1050px;
  }
}
@media (min-width: 1600px) and (max-width: 1689px) {
  .con-featured .box-featured {
    height: 800px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured {
    background: #612783 url(../images/bg-featured-tab.png) top center;
    background-size: cover;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured {
    background: #612783 url(../images/bg-featured-sp.png) top center;
    background-size: cover;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured {
    height: 550px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured {
    height: 100vh;
  }
}
.con-featured .box-featured .container {
  position: relative;
  height: 100%;
}
.con-featured .box-featured .box-featued1 {
  position: absolute;
  top: 90px;
  left: 30px;
  width: 11.77083vw;
  height: 9.84375vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued1 {
    top: 100px;
    left: -40px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued1 {
    left: 110px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued1 {
    top: 5.33333vw;
    left: 2.66667vw;
    width: 28.53333vw;
    height: 33.33333vw;
  }
}
.con-featured .box-featured .box-featued2 {
  position: absolute;
  bottom: 30px;
  left: -60px;
  width: 22.8125vw;
  height: 25.72917vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued2 {
    bottom: 160px;
    left: -250px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued2 {
    bottom: 52px;
    left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued2 {
    bottom: 50.66667vw;
    left: -2.66667vw;
    width: 40vw;
    height: 45.06667vw;
  }
}
.con-featured .box-featured .box-featued3 {
  position: absolute;
  top: 170px;
  left: 300px;
  width: 7.91667vw;
  height: 8.125vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued3 {
    left: 300px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued3 {
    top: 34.66667vw;
    left: 5.33333vw;
    width: 18.93333vw;
    height: 18.13333vw;
  }
}
.con-featured .box-featured .box-featued32 {
  position: absolute;
  top: 6.25vw;
  left: 28.64583vw;
  width: 6.82292vw;
  height: 7.08333vw;
  transform: rotate(20deg);
}
.con-featured .box-featured .box-featued4 {
  position: absolute;
  top: 4.6875vw;
  right: 25%;
  width: 14.79167vw;
  height: 9.375vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued4 {
    top: 4.6875vw;
    right: 12%;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued4 {
    top: 105px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued4 {
    top: 13.33333vw;
    left: 50%;
    right: auto;
    width: 29.33333vw;
    height: 21.33333vw;
  }
}
.con-featured .box-featured .box-featued5 {
  position: absolute;
  top: 60px;
  right: 160px;
  width: 11.19792vw;
  height: 11.19792vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued5 {
    top: 0px;
    right: -14px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued5 {
    top: 60px;
    right: 65px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued5 {
    top: 5.33333vw;
    right: -20px;
    width: 26.66667vw;
    height: 15.73333vw;
  }
}
.con-featured .box-featured .box-featued6 {
  position: absolute;
  bottom: 90px;
  right: 30px;
  width: 16.97917vw;
  height: 17.23958vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued6 {
    bottom: 150px;
    right: -200px;
  }
}
@media (min-width: 1600px) and (max-width: 1689px) {
  .con-featured .box-featured .box-featued6 {
    bottom: 40px;
    right: -50px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  .con-featured .box-featured .box-featued6 {
    bottom: 40px;
    right: -30px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued6 {
    bottom: 66px;
    right: 15px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued6 {
    bottom: 34.66667vw;
    right: -16vw;
    width: 46.13333vw;
    height: 40.26667vw;
  }
}
.con-featured .box-featured .box-featued7 {
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -8.22917vw;
  width: 16.45833vw;
  height: 17.08333vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued7 {
    top: 240px;
    left: 50%;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued7 {
    top: 170px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued7 {
    top: 21%;
    width: 38.13333vw;
    height: 26.4vw;
    margin-left: -19.06667vw;
  }
}
.con-featured .box-featured .box-featued8 {
  position: absolute;
  bottom: -1.5625vw;
  left: 11.97917vw;
  width: 13.07292vw;
  height: 17.08333vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued8 {
    bottom: 32px;
    left: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued8 {
    bottom: 42.66667vw;
    left: 13.33333vw;
    width: 31.73333vw;
    height: 37.6vw;
  }
}
.con-featured .box-featured .box-featued9 {
  position: absolute;
  bottom: -10px;
  right: 280px;
  width: 15.3125vw;
  height: 12.55208vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued9 {
    bottom: 20px;
    right: 180px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued9 {
    bottom: 16px;
    right: 169px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued9 {
    bottom: 72vw;
    right: 13.33333vw;
    width: 26.13333vw;
    height: 21.33333vw;
  }
}
.con-featured .box-featured .box-featued10 {
  position: absolute;
  top: 180px;
  right: 30px;
  width: 9.6875vw;
  height: 10.10417vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .box-featued10 {
    top: 220px;
    right: -130px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .box-featued10 {
    top: 80px;
    right: 50px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .box-featued10 {
    top: 29.33333vw;
    right: 10px;
    width: 16.53333vw;
    height: 17.33333vw;
  }
}
.con-featured .box-featured .txt1 {
  position: absolute;
  top: 280px;
  left: 50%;
  width: 41.92708vw;
  height: 8.125vw;
  margin-left: -20.96354vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .txt1 {
    top: 390px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .txt1 {
    top: 230px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .txt1 {
    top: 30%;
    width: 86.66667vw;
    height: 17.6vw;
    margin-left: -43.33333vw;
  }
}
.con-featured .box-featured .txt2 {
  position: absolute;
  top: 305px;
  left: 58%;
  width: 18.07292vw;
  height: 4.27083vw;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .txt2 {
    top: 445px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .txt2 {
    top: 255px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .txt2 {
    width: 41.33333vw;
    height: 12.8vw;
    top: 33%;
    left: 55%;
  }
}
.con-featured .box-featured .btn-submit {
  top: 450px;
  left: 50%;
  margin-left: -10.72917vw;
  position: absolute;
  width: 21.45833vw;
  height: 3.95833vw;
  line-height: 2.86458vw;
  background: url(../images/bg-btn-top.png) no-repeat center bottom;
  background-size: 100% auto;
}
.con-featured .box-featured .btn-submit:hover {
  background: url(../images/bg-btn-top-hover.png) no-repeat center bottom;
  background-size: 100% auto;
}
@media only screen and (min-width: 1690px) {
  .con-featured .box-featured .btn-submit {
    top: 650px;
    line-height: 2.86458vw;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .btn-submit {
    margin-bottom: 20px;
    width: 240px;
    height: 44px;
    margin-left: -70px;
    line-height: 26px;
    margin-left: -120px;
    top: 350px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .btn-submit {
    margin-bottom: 20px;
    width: 200px;
    height: 42px;
    margin-left: -100px;
    line-height: 34px;
    top: 45%;
    padding: 0;
  }
}
.con-featured .box-featured .btn-submit span {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  color: #FFFFFF;
  text-shadow: #ea619a 1px 0px 0px, #ea619a 0.5403px 0.84147px 0px, #ea619a -0.41615px 0.9093px 0px, #ea619a -0.98999px 0.14112px 0px, #ea619a -0.65364px -0.7568px 0px, #ea619a 0.28366px -0.95892px 0px, #ea619a 0.96017px -0.27942px 0px;
}
@media only screen and (max-width: 1599px) {
  .con-featured .box-featured .btn-submit span {
    font-size: 22px;
    line-height: 22px;
  }
}
@media only screen and (max-width: 1199px) {
  .con-featured .box-featured .btn-submit span {
    font-weight: 800;
    font-size: 17px;
  }
}
@media only screen and (max-width: 575px) {
  .con-featured .box-featured .btn-submit span {
    font-size: 15px;
  }
}
.con-featured .box-featured img {
  width: 100%;
}

.ladipage-message {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000000000;
  background: rgba(0, 0, 0, 0.3);
}

.ladipage-message .ladipage-message-box {
  width: 400px;
  max-width: calc(100% - 50px);
  height: 160px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  position: fixed;
  top: calc(50% - 155px);
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
}

.ladipage-message .ladipage-message-box h1 {
  background-color: rgba(6, 21, 40, 0.05);
  color: #000;
  padding: 12px 15px;
  font-weight: 600;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ladipage-message .ladipage-message-box .ladipage-message-text {
  font-size: 14px;
  padding: 0 20px 20px;
  margin-top: 10px;
  line-height: 18px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.ladipage-message .ladipage-message-box .ladipage-message-close {
  display: block;
  position: absolute;
  right: 15px;
  bottom: 5px;
  margin: 0 auto;
  padding: 10px 0;
  border: none;
  width: 80px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: #e6e6e6;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
