@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	common
----------------------------------------------------------- */
body {
	font-family: $font_main;
	font-size: 16px;
	
	@include mq(max_sm) {
		font-size: 14px;
		background: transparent url('../images/bg-body.png') no-repeat top left;
		background-size: cover;
	}
}
img {
	max-width: 100%;
}
a,
button,
.btn {
	// @include transition(all 0.4s ease);
}
.over {
	@include transition(all 0.4s ease);
	&:hover {
		opacity: 0.7;
	}
}
.container {
	@include mq(xxl) {
		max-width: 1232px;
	}
	@media (min-width: 1440px) and (max-width: 1690px) {
		max-width: 1232px;
	}
}
.list-style-none {
	list-style: none !important;
}

/* -----------------------------------------------------------
	heading
----------------------------------------------------------- */
.title-lg {
	display: block;
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: (61/45);
	letter-spacing: -0.02em;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 0px 0px 40px #FF00B8;
	@include mq(max_lg) {
		font-size: 32px;
	}
	@include mq(max_sm) {
		font-size: 28px;
	}
	@include mq(max_xs) {
		font-size: 24px;
		line-height: 34px;
	}
}

.title-md {
	text-align: center;
	.lg {
		display: block;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		line-height: (63/40);
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #FFFFFF;
		text-shadow: 0px 0px 40px #FF00B8;
		@include mq(max_lg) {
			font-size: 38px;
		}
		@include mq(max_md) {
			margin-bottom: 10px;
		}
		@include mq(max_sm) {
			font-size: 30px;
		}
		@include mq(max_xs) {
			font-size: 25px;
		}
	}
	.md {
		display: block;
		font-style: normal;
		font-weight: 600;
		font-size: 31px;
		line-height: (48/31);
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #FFFFFF;
		text-shadow: 0px 0px 40px #FF00B8;
		@include mq(max_lg) {
			font-size: 28px;
		}
		@include mq(max_md) {
			font-size: 24px;
		}
		@include mq(max_sm) {
			font-size: 20px;
		}
		@include mq(max_xs) {
			font-size: 16px;
		}
	}
}

/* -----------------------------------------------------------
	Button
----------------------------------------------------------- */
.btn-pink {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 61px;
	line-height: 61px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: #fff !important;
	background: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	outline: 0;
	padding: 0 15px;
	margin: 0;
	&:hover {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	&:before {
		opacity: 1;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-pink.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	&:after {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-pink-hover.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}
.offcanvas-body {
	.btn-lightblue {
		width: 297px;
		height: 41px;
		&:hover {
			&:before {
				background-image: url('../images/bg-btn-lightblue-2-hover.png');
				background-size: contain;
			}
		}
		&:before {
			background: transparent url('../images/bg-btn-lightblue-2.png') no-repeat center center;
			background-size: 100% auto;
			transition: all 0.4s ease;
			background-size: contain;
		}
		span {
			position: relative;
			z-index: 2;
		}
	}
	
	.btn-darkblue {
		width: 297px;
		height: 41px;
		&:hover {
			&:before {
				background-image: url('../images/bg-btn-bluedark-hover.png');
				background-size: contain;
			}
		}
		&:before {
			background: transparent url('../images/bg-btn-bluedark.png') no-repeat center center;
			background-size: 100% auto;
			transition: all 0.4s ease;
			background-size: contain;
		}
		span {
			position: relative;
			z-index: 2;
		}
	}

	.btn-darkpink {
		width: 297px;
		height: 41px;
		&:hover {
			&:before {
				background-image: url('../images/bg-btn-darkpink-hover.png');
				background-size: contain;
			}
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: transparent url('../images/bg-btn-darkpink.png') no-repeat center center;
			background-size: contain;
			transition: all 0.4s ease;
		}
		span {
			position: relative;
			z-index: 2;
		}
	}
}
.btn-blue {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 61px;
	line-height: 61px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: #fff !important;
	background: none;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	outline: 0;
	padding: 0 15px;
	margin: 0;
	&:hover {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	&:before {
		opacity: 1;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-blue.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	&:after {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-blue-hover.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}

.btn-lightblue {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 45px;
	line-height: 45px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: #fff !important;
	background: none;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	padding: 0 15px;
	margin: 0;
	&:hover {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	&:before {
		opacity: 1;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-lightblue.png') no-repeat center center;
		background-size: 100% auto;
		transition: all 0.4s ease;
	}
	&:after {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-lightblue-hover.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}
.btn-darkblue {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 45px;
	line-height: 45px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: #fff !important;
	background: none;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	padding: 0 15px;
	margin: 0;
	&:hover {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	&:before {
		opacity: 1;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-bluedark.png') no-repeat center center;
		background-size: 100% auto;
		transition: all 0.4s ease;
	}
	&:after {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-bluedark-hover.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}

.btn-darkpink {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 45px;
	line-height: 45px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	color: #fff !important;
	background: none;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	padding: 0 15px;
	margin: 0;
	&:hover {
		&:before {
			opacity: 0;
		}
		&:after {
			opacity: 1;
		}
	}
	&:before {
		opacity: 1;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-darkpink.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	&:after {
		opacity: 0;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: transparent url('../images/bg-btn-darkpink-hover.png') no-repeat center center;
		background-size: 100% 100%;
		transition: all 0.4s ease;
	}
	span {
		position: relative;
		z-index: 2;
	}
}

.btn-blue-2 {
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	height: 56px;
	line-height: 56px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: #fff !important;
	background: #6792ff;
	font-size: 15px;
	box-shadow: inset 0px -4px 0px #4866c3;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;
	outline: 0;
	padding: 0 15px;
	margin: 0;
	&:hover {
		background: #4871db;
		box-shadow: inset 0px -4px 0px #334faa;
	}
}

.btn-scroll-to-top {
	position: fixed;
	right: 20px;
	bottom: -200px;
	background: none;
	border: 0;
	outline: 0;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding: 0;
	margin: 0;
	z-index: 99;
	transition: all 0.4s ease;
	&:hover {
		transform: translate(0, -5px);
	}
	&.active {
		bottom: 20px;
	}
	.ic-arrow {
		display: block;
		margin-bottom: -14px;
	}
	.txt {
		display: block;
	}
}

@include mq(max_xs) {
	#some-element { display: none; }
  }

  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3B1F88;
    z-index: 999999;
	display: none;
	// background: transparent url('../images/bg-body1.png') no-repeat top left;

}
#preloader .preloader {
    width: 314px;
    height: 314px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
	
}
.box-preloader.active {
	display: block!important;
}

