@charset "utf-8";
@import "variables";
@import "mixins";
/* -----------------------------------------------------------
	.con-faqs
----------------------------------------------------------- */
.con-planet {
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding: 1000px 0 0 0;
	@include mq(max_lg) {
		padding: 30px 0;
	}
	&:before {
		position: absolute;
		top: -3vw;
		left: -(getVw(100));
		width: getVw(394);
		height: getVw(897);
		content: "";
		background: transparent url('../images/img-bingo.png') no-repeat right center;
		background-size: contain;
		transform: rotate(10deg);
	}
	&:after {
		position: absolute;
		top: -1vw;
		right: -(getVw(50));
		width: getVw(342);
		height: getVw(188);
		content: "";
		background: transparent url('../images/img-planet-top.png') no-repeat left center;
		background-size: contain;
	}
	.title-md {
		position: absolute;
		left: 0;
		width: 100%;
		top: 560px;
		@include mq(max_lg) {
			position: relative;
			top: 0;
		}
		.md {
			margin-top: -10px; 
			@include mq(max_xs) {
				font-size: 25px;
			}
		}
	}
	.box-planet {
		// padding: getVw(350) 0;
		position: relative;
		@include mq(max_lg) {
			padding: getVw(250) 0;
		}
		@include mq(max_xs) {
			padding: 0;
		}
		
		
		.title-md {
			margin: -50px 0 -15px 0;
			@include mq(max_lg) {
				margin: 10px 0 30px 0;
			}
			@include mq(max_xs) {
				margin: 10px 0 30px 0;
			}
			
			.md {
				margin-top: -10px; 
				@include mq(max_xs) {
					font-size: 25px;
				}
			}
		}
		h4 {
			text-align: center;
			width: 338px;
			height: 56px;
			line-height: 44px;
			margin: 0 auto 50px auto;
			background: transparent url('../images/bg-title-plan.png') no-repeat left center;
			background-size: contain;
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			/* or 100% */

			text-align: center;

			color: #FFFFFF;
		}
		.planet-wrap { 
			.plan-top {
				@include mq(max_lg) {
					flex-wrap: wrap;
					display: flex;
					flex-direction: row;
					flex: 1;
					justify-content: center;
				}
				@include mq(max_xs) {
					flex-wrap: wrap;
					display: flex;
					flex-direction: row;
					flex: 1;
					justify-content: center;
				}
				
			}
			.plan-bottom {
				@include mq(max_lg) {
					flex-wrap: wrap;
					display: flex;
					flex-direction: row;
					flex: 1;
					justify-content: center;
				}
				@include mq(max_xs) {
					flex-wrap: wrap;
					display: flex;
					flex-direction: row;
					flex: 1;
					justify-content: center;
				}
				
			}
			
			
			.box-item {
				display: flex;
				width: 20%;
				flex-direction: column;
    			justify-content: center;
    			transform: scale(0.8);
    			opacity: 0.7;
    			-webkit-transition: 0.4s ease;
  				transition: 0.4s ease;
  				@include mq(max_lg) {
					margin-bottom: 50px!important;
				}
				@include mq(max_xs) {
					margin-bottom: 50px!important;
				}
				
  				&:hover {
  					transform: scale(1);
    				opacity: 1;
  				}
    			@include mq(max_lg) {
					width: 33.33%;
					align-items: center;
					opacity: 1;
					transform: scale(1);
					padding: 0 5px;
				}
				@include mq(max_xs) {
					width: 50%;
					align-items: center;
					opacity: 1;
					transform: scale(1);
					padding: 0 5px;
				}
				
    			&.active {
    				transform: scale(1);
    				opacity: 1;
    			}
    			&.ioe-top {
    				@include mq(max_lg) {
						margin-top: 0px;
					}
					@include mq(max_xs) {
						margin-top: 0px;
					}
    			}
    			&.movers {
    				margin-top: -150px;
    				@include mq(max_lg) {
						margin-top: 0px;
					}
					@include mq(max_xs) {
						margin-top: 0px;
					}
    			}

    			&.starters {
    				margin-top: -258px;
    				@include mq(max_lg) {
						margin-top: 0px;
					}
					@include mq(max_xs) {
						margin-top: 0px;
					}
    			}
    			&.flyers {
    				margin-top: -170px;
    				@include mq(max_lg) {
						margin-top: 0px;
					}
					@include mq(max_xs) {
						margin-top: 0px;
					}
    			}
    			&.ioe {
    				margin-bottom: -155px;
    				@include mq(max_lg) {
						margin-bottom: 0px;
					}
					@include mq(max_xs) {
						margin-bottom: 0px;
					}
    			}
    			&.ielts {
    				margin-bottom: -258px;
    				@include mq(max_lg) {
						margin-bottom: 0px;
					}
					@include mq(max_xs) {
						margin-bottom: 0px;
					}					
    			}
    			&.toefl-junior {
    				margin-bottom: -155px;
    				@include mq(max_lg) {
						margin-bottom: 0px;
					}
					@include mq(max_xs) {
						margin-bottom: 0px;
					}
					
    			}
    			
    			.featured {
    				margin: 0;
    				padding: 0;
    				text-align: center;
    			}

    			.txt-top {

    				text-align: center;
    				font-weight: 800;
					font-size: 20px;
					line-height: 20px;
					text-transform: uppercase;

					color: #FFFFFF;

					text-shadow: 0px 0px 8px #FF00F5;
    			}
    			.box-txt {
    				margin-top: -15px;
    				width: 246px;
					height: 43px;
					line-height: 43px;
					background: transparent url('../images/bg-txt.png') no-repeat top center;
					background-size: contain;
					display: flex;
				    justify-content: center;
				    align-items: center;
				    @include mq(max_lg) {
				    	height: 35px;
						
				    }
				    @include mq(max_xs) {
				    	height: 29px;
						width: auto;
				    }
				    
					span {
	    				font-style: normal;
						font-weight: 700;
						font-size: 10px;
						line-height: 16px;
						/* identical to box height, or 171% */
						text-transform: uppercase;

						color: #FFFFFF;
						text-align: center;
						margin-bottom: 0;
						padding: 0 10px;
						@include mq(max_lg) {
							font-size: 9px;
							
						}
						@include mq(max_xs) {
							font-size: 9px;
							line-height: 10px;
							width: 100%;
    						padding: 0 20px;
						}

	    			}
    			}
    			
			}
			.plan-top {
				display: flex;
    			align-items: center;
			}
			.plan-bottom {
				display: flex;
    			align-items: center;
			}
			
		}
	}
	.box-item {
		display: flex;
		width: 20%;
		flex-direction: column;
		justify-content: center;
		align-items: center;	
		
		@include mq(max_lg) {
			margin-bottom: 50px!important;
		}
		@include mq(max_xs) {
			margin-bottom: 50px!important;
		}
		
		  
		@include mq(max_lg) {
			width: 33.33%;
			align-items: center;
			opacity: 1;
			transform: scale(1);
			padding: 0 5px;
		}
		@include mq(max_xs) {
			width: 50%;
			align-items: center;
			opacity: 1;
			transform: scale(1);
			padding: 0 5px;
		}
		
		&.active {
			
			
			.item-planet-wrap  {
				opacity: 1;
				transform: scale(1.05);
			}
		}
	
		.item-planet-wrap {
			transform: scale(0.95);
			-webkit-transition: 0.4s ease;
		  	transition: 0.4s ease;
			  opacity: 0.8;
			&:hover {
				transform: scale(1.05);
				opacity: 1;
			}
		}
		.featured {
			margin: 0;
			padding: 0;
			text-align: center;
			transform: scale(0.8);
		}

		.txt-top {

			text-align: center;
			font-weight: 800;
			font-size: 20px;
			line-height: 20px;
			text-transform: uppercase;

			color: #FFFFFF;

			text-shadow: 0px 0px 8px #FF00F5;
		}
		.box-txt {
			margin-top: -15px;
			width: 246px;
			height: 43px;
			line-height: 43px;
			background: transparent url('../images/bg-txt.png') no-repeat top center;
			background-size: contain;
			display: flex;
			justify-content: center;
			align-items: center;
			@include mq(max_lg) {
				height: 35px;
				
			}
			@include mq(max_xs) {
				height: 29px;
				width: auto;
			}
			
			span {
				font-style: normal;
				font-weight: 700;
				font-size: 10px;
				line-height: 16px;
				/* identical to box height, or 171% */
				text-transform: uppercase;

				color: #FFFFFF;
				text-align: center;
				margin-bottom: 0;
				padding: 0 10px;
				@include mq(max_lg) {
					font-size: 9px;
					
				}
				@include mq(max_xs) {
					font-size: 9px;
					line-height: 10px;
					width: 100%;
					padding: 0 20px;
				}

			}
		}
		
	}
	.box-planet-wrap {
		display: flex;
		align-items: center;
		width: 200px;
		text-align: center;
		top: 100%;
		left: 50%;
		height: 280px;
		position: relative;
		perspective: 1000px;
		transform: translate3d(-50%, -50%, 600px);
		/* ^^^ 600px for safari hack */
		transform-style: preserve-3d;
		.box-item {
			position: absolute;
			width: 100%;
			margin: auto;
			cursor: pointer;
			&.active {
				opacity: 1!important;
			}
			img {
				max-width: 100%;
				max-height: 100%;
				cursor: pointer;
				transform-origin: center center;
				transition: all 0.4s ease;
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-benefit
----------------------------------------------------------- */
.con-benefit {
	margin-top: -30px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	z-index: 1;
	@include mq(max_xs) { 
		margin-top: -10px;
		padding-top: 30px;
	}

	.title-lg {
		margin-bottom: 60px;
		margin-top: 0;
		padding-top: 0;
		position: relative;
		z-index: 3;
		padding-top: 50px;
		@include mq(xxl) {
			padding-top: 180px;
		}
		@media (min-width: 1440px) and (max-width: 1690px) {
			padding-top: 230px;
		}
		@include mq(xl) {
			font-size: 40px;

		}
		@include mq(max_lg) {
			font-size: 32px;
			margin-bottom: 30px;

		}
		
		@include mq(max_xs) {
			margin-bottom: 40px;
			font-size: 24px;
			padding-top: 0;

		}
		
	}
	.box-slider-wrapper {
		position: relative;
		@include mq(max_xl) {
			padding: 0 60px 60px;
		}
		
		@include mq(max_xs) {
			padding: 0 20px 60px;
		}

		.box-slider {
			overflow: hidden;
		}
		.slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translate(0, -50%);
      width: 64px;
      height: 73px;
      text-indent: -9999px;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
			@include mq(max_xl) {
				width: 54px;
      	height: 68px;
			}
			@include mq(max_xs) {
				width: 9vw;
    		height: 10vw;
			}
    }
		.slick-prev {
      left: -88px;
      background: transparent url('../images/ic-prev.png') no-repeat left center;
      background-size: contain;
			@include mq(max_xl) {
				left: -15px;
			}
			@include mq(max_xs) {
				left: 0;
			}
    }
    .slick-next {
      right: -88px;
      background: transparent url('../images/ic-next.png') no-repeat right center;
      background-size: contain;
			@include mq(max_xl) {
				right: -15px;
			}
			@include mq(max_xs) {
				right: 0;
			}
    }
		.slick-list {
			margin: 0 -38px;
			@include mq(max_xxl) {
				margin: 0 -20px;
			}
			@include mq(max_lg) {
				margin: 0 -15px;
			}
		}
		.slide-item {
			text-align: center;
			outline: 0;
			padding: 0 38px;
			@include mq(max_xxl) {
				padding: 0 20px;
			}
			@include mq(max_lg) {
				padding: 0 15px;
			}
			@include mq(max_xs) {
				margin-bottom: 40px;
			}
			.img {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 24px;
				@include mq(max_xs) {
					margin-bottom: 27px;
				}
			}
			.txt-title {
				font-style: normal;
				font-weight: 700;
				font-size: 23px;
				line-height: (30 / 23);
				text-align: center;
				color: #FFFFFF;
				margin-bottom: 16px;
				
				@include mq(xxl) {
					min-height: 49px;
				}
				
				@include mq(max_xl) {
					font-size: 19px;
					min-height: 49px;
				}

				@include mq(max_xs) {
					font-size: 15px;
					margin-bottom: 13px;
					min-height: 0;
				}
			}
			.txt {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: (24 / 16);
				text-align: center;
				color: #FFFFFF;
				@include mq(max_xs) {
					font-size: 14px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-comment
----------------------------------------------------------- */
.con-comment {
	position: relative;
	z-index: 1;
	&:after {
		position: absolute;
		top: -18vw;
		right: 0;
		width: getVw(266);
		height: getVw(450);
		content: "";
		background: transparent url('../images/img-cake.png') no-repeat center center;
		background-size: contain;
		z-index: 3;
		@include mq(xxl) {
			right: -(getVw(0));
		}
	}
	&:before {
		position: absolute;
		top: -(getVw(180));
		bottom: -18vw;
		left: 0;
		width: 100%;
		content: "";
		background: linear-gradient(180deg, rgba(1, 1, 34, 0) 0%, #010122 13.02%, #3532AD 75%, #6E39B1 82.44%, rgba(53, 50, 173, 0) 100%);
		z-index: 1;
	}
	
	.title-md {
		margin-bottom: 50px;
		position: relative;
		z-index: 3;
	}
	.box-bg-slider {
		background: transparent url(../images/bg-comment.png) no-repeat center center;
		background-size: cover;
		padding: 50px 0px 180px;
		position: relative;
		z-index: 2;
		@include mq(max_lg) {
			padding: 110px 0px 220px;
		}
		@include mq(max_md) {
			padding: 50px 0px 110px;
		}
	}
	.box-slider-wrapper {
		position: relative;
		@include mq(xxl) {
			margin-top: 50px;
		}
		@include mq(max_xl) {
			padding: 0 60px;
		}
		@include mq(max_sm) {
			padding: 0;
		}
		.box-slider {
			overflow: hidden;
		}
		.slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translate(0, -50%);
      width: 64px;
      height: 73px;
      text-indent: -9999px;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
			@include mq(max_xl) {
				width: 54px;
      	height: 68px;
			}
			@include mq(max_xs) {
				width: 9vw;
    		height: 10vw;
			}
    }
		.slick-prev {
      left: -120px;
      background: transparent url('../images/ic-prev.png') no-repeat left center;
      background-size: contain;
			@media only screen and (max-width: 1599px) {
				left: -88px;
			}
			@include mq(max_xl) {
				left: -15px;
			}
			@include mq(max_xs) {
				left: 0;
			}
    }
    .slick-next {
      right: -120px;
      background: transparent url('../images/ic-next.png') no-repeat right center;
      background-size: contain;
			@media only screen and (max-width: 1599px) {
				right: -88px;
			}
			@include mq(max_xl) {
				right: -15px;
			}
			@include mq(max_xs) {
				right: 0;
			}
    }
		.slick-list {
			
		}
		.slide-item {
			position: relative;
			outline: 0;
			padding: 20px 20px 60px;
			@include mq(max_xl) {
				padding-bottom: 20px;
			}
			@include mq(max_lg) {
				padding: 30px 20px;
			}
			@include mq(max_sm) {
				padding: 0;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0px;
				right: 0px;
				top: 20px;
				bottom: 20px;
				background: rgba(#1e0961, 0.81);
				box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				@include mq(max_sm) {
					display: none;
				}
			}
			> * {
				position: relative;
			}
			.col-detail {
				margin-left: 22px;
				@include mq(max_lg) {
					margin-left: 15px;
				}
			}
			.box-detail {
				position: relative;
				padding: 56px 0 46px 10px;
				@include mq(max_md) {
					padding: 40px 30px;
				}
				@include mq(max_sm) {
					padding: 0;
				}
				.ic-quote-left {
					position: absolute;
					left: -30px;
					top: 0;
					@include mq(max_md) {
						left: 0;
						width: 25px;
					}
				}
				.ic-quote-right {
					position: absolute;
					right: 0;
					bottom: 0;
					@include mq(max_md) {
						width: 25px;
						bottom: 10px;
					}
				}
			}
			.box-info {
				margin: 0 0 13px;
				@include mq(max_md) {
					max-width: 90%;
					margin: 0 auto 13px;
				}
				.img-avatar {
					display: block;
					position: relative;
					overflow: hidden;
					border-radius: 50%;
					width: 118px;
					height: 118px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					@include mq(max_lg) {
						width: 80px;
						height: 80px;
					}
				}
				.txt-title-item {
					margin-bottom: 5px;
					.lg {
						display: block;
						font-style: normal;
						font-weight: 700;
						font-size: 25px;
						line-height: 1.3;
						color: #FFFFFF;
						@include mq(max_lg) {
							font-size: 18px;
						}
					}
					.md {
						display: block;
						font-style: normal;
						font-weight: normal;
						font-size: 18px;
						line-height: (25 / 18);
						color: #FFFFFF;
					}
				}
				.box-rating {
					svg {
						margin-right: 6px;
						@include mq(max_lg) {
							width: 25px;
							margin-right: 0;
						}
					}
				}
			}
			.txt {
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: (49 / 24);
				color: #FFFFFF;
				@include mq(max_lg) {
					font-size: 20px;
				}
				@include mq(max_md) {
					font-size: 16px;
					line-height: (25 / 16);
				}
			}
			.col-video {
				padding-top: 40px;
				@include mq(max_md) {
					padding-top: 20px;
				}
			}
			.box-video {
				max-width: 484px;
				background: transparent url(../images/bg-video.png) no-repeat center center;
				background-size: 100% 100%;
				padding: 30px 26px;
				@include mq(max_md) {
					max-width: 95%;
					padding: 17px 20px;
					margin: 0 auto;
				}
				.box-iframe {
					position: relative;
					width: 100%;
					height: auto;
					padding-bottom: (238 / 422) * 100%;
					iframe {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-course
----------------------------------------------------------- */
.con-course {
	position: relative;
	z-index: 1;
	position: relative;
	padding: 100px 0px;
	@include mq(max_xs){
		padding: 45px 0px;
		overflow: hidden;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 2, 56, 0.8);
		box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
	}
	> * {
		position: relative;
	}
	.title-lg {
		margin-bottom: 35px;
		@include mq(max_sm){
			font-size: 25px;
			margin-bottom: 10px;
		}
	}
	.box-countdown {
		max-width: 570px;
		margin-bottom: 50px;
		.txt {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: (27 / 20);
			text-align: center;
			color: #fff;
			padding-top: 16px;
		}
		.countdown {
			font-family: $font_main !important;
			> span {
				color: transparent;
				padding: 0 9px;
			}
			figure {
				max-width: 90px !important;
				text-align: center;
				> div {
					width: 30px !important;
					ul {
						left: 1px !important;
					}
					&.first {
						ul {
							left: 6px !important;
						}
					}
				}
			}
			figcaption {
				font-style: normal;
				font-weight: 300;
				font-size: 14px !important;
				line-height: (19 / 14);
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				margin-top: 16px;
			}
			div {
				background: none;
				border: 0;
			}
			ul {
				li {
					font-style: normal;
					font-weight: 700;
					color: #FFFFFF;
				}
			}
			@include mq(max_md){
				text-align: center;
				margin: 25px auto 45px;
			}
		}
	}

	.box-pricing {
		.title-col {
			font-weight: 700;
			font-size: 20px;
			line-height: (27 / 20);
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #312A5C;
			text-align: left;
			margin-bottom: 13px;
		}
		.box-cost {
			min-height: 180px;
			@include mq(max_md){
				min-height: 0;
			}
		}
		.price {
			font-weight: 700;
			font-size: 45px;
			line-height: (61 / 45);
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: #38A1FF;
			.unit {
				font-size: 0.66em;
			}
		}
		.col-free {
			padding-right: 11px;
			@include mq(max_md){
				padding: 0;
				margin-bottom: 36px;
			}
		}
		.box-free {
			height: 100%;
			text-align: center;
			background: #cfcdda;
			box-shadow: 0px 10px 15px rgba(59, 31, 136, 0.3);
			border-radius: 16px;
			padding: 20px 20px 46px;
			@include mq(max_lg) {
				width: 367px;
				margin: 0 auto;
			}
			.txt-free {
				font-weight: 700;
				font-size: 40px;
				line-height: (54 / 40);
				letter-spacing: -0.02em;
				text-transform: uppercase;
				color: #312A5C;
				padding-top: 26px;
				margin-bottom: 14px;
			}
			.price {
				margin-bottom: 10px;
				@include mq(max_md) {
					margin-left: 10px;
				}
			}
			.box-btn {
				margin-bottom: 23px;
				.btn-action {
					min-width: 200px;
				}
			}
			.box-txt {
				p {
					font-size: 18px;
					line-height: (40 / 18);
					letter-spacing: -0.02em;
					color: #312A5C;
				}
			}
			@include mq(max_md){
				padding: 15px 20px;
				height: auto;
				display: flex;   
				flex-flow: column;
				.box-cost {
					order: 1;
				}
				.box-btn {
					margin: 10px auto;
					order: 3;
				}
				.box-txt {
					order: 2;
					p {
						line-height: 20px;
						font-size: 14px;
					}
				}
				.txt-free, .price {
					display: inline-block;
				}
				.txt-free {
					padding: 0px;
					margin-bottom: 0;
				}
			}
		}
		.box-paid-course {
			height: 100%;
			text-align: center;
			background: #e7e6ed;
			box-shadow: 0px 10px 15px rgba(59, 31, 136, 0.3);
			border-radius: 16px;
			padding: 20px 20px 25px;
			@include mq(max_xs) {
				display: block!important;
			}
			nav {
				background: #fff;
				margin: 0 -15px;
				.nav-tabs {
					text-align: center;
					justify-content: center;
					.nav-link {
						font-style: normal;
						font-weight: 700;
						font-size: 20px;
						line-height: 27px;
						letter-spacing: -0.02em;
						text-transform: uppercase;
						padding: 0.5rem 1.25rem;
						color: #312A5C;
						border: 0;
						opacity: 0.5;
						&.active {
							color: #312A5C;
							opacity: 1;
						}
					}
				}
			}
			.box-cost {
			
			}
			.txt-duration {
				font-weight: 700;
				font-size: 30px;
				line-height: (41 / 30);
				letter-spacing: -0.02em;
				text-transform: uppercase;
				color: #312A5C;
			}
			.txt-recommend {
				font-weight: 700;
				font-size: 15px;
				line-height: (20 / 15);
				letter-spacing: -0.02em;
				text-transform: uppercase;
				color: #312A5C;
			}
			.price {
				.unit {
				}
			}
			.box-root-price {
				font-weight: 700;
				font-size: 30px;
				line-height: (25 / 18);
				letter-spacing: -0.02em;
				color: #312A5C;
				text-transform: uppercase;
				margin-bottom: 10px;
				.txt-root-price {
					font-size: 0.6em;
				}
				.root-price {
					text-decoration: line-through;
				}
				.unit {
					font-size: 0.6em;
				}
			}
			.box-btn {
				margin-bottom: 23px;
				.btn-action {
					min-width: 200px;
				}
			}
			.box-txt {
				p {
					font-weight: 400;
					font-size: 18px;
					line-height: (40 / 18);
					letter-spacing: -0.02em;
					color: #312A5C;
				}
			}
			@include mq(max_md){
				display: flex;
				flex-flow: column;
				.title-col {
					order: 1;
					text-align: center;
				}
				.box-txt {
					margin-bottom: 30px;
					order: 2;
					p {
						font-size: 14px;
						line-height: 20px;
					}
				}
				.row-cost {
					order: 3;
					div[class^="col"]{
						margin-top: 20px;
					}
				}
			}
		}
	}

	.box-course-buy {
		margin-top: 50px;
		border-top: 5px solid rgba(0, 0, 0, 0.25);
		padding: 30px 0px 0;
		border-radius: 8px;
		color: white;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 40px;
		letter-spacing: -0.02em;
		@include mq(max_md) {
			margin-top: 30px;
		}
		@include mq(max_xs) {
			margin-top: 30px;
		}
		::placeholder {
			color: white;
			opacity: 1;
		}
		:-ms-input-placeholder, 	::-ms-input-placeholder { 
			color: white;
		}
		.box-course-buy-wrap {
			display: flex;
			align-items: flex-end;
			width: 100%;
			@include mq(max_lg) {
				align-items: flex-start;
			}
		}
		.box-right {
			height: 100%;
			@include mq(max_xs) {
				margin-bottom: 0.5rem!important;
			}
		}
		.col-md-7 {
			flex: 0 0 auto;
    		width: 55.1%;
    		@include mq(xxl) {
				width: 54.1%;
			}
			@include mq(max_xs) {
				width: 100%;
			}
		}
		.box-title {
			.title {
				font-size: 27px;
				font-weight: 700;
				text-transform: uppercase;
			}
			.des {
				font-size: 21px;
			}
		}
		.txt-bank {
			white-space: nowrap;
			@include mq(max_xs) {
				white-space: normal;
			}
		}
		.form-control , .btn {
			height: 56px;
			line-height: 56px;
			border-radius: 8px;
		}
		.form-control {
			color: white;
			border: 1px solid #69578D;
			background: none;
			font-size: 16px;
		}
		.btn-submit {
			width: 100%;
		}
		#BUTTON923 {
			height: 0;
		}
		.qr-code {
			margin-right: 50px;
			width: 12.6%;
			@include mq(md){
				&.d-md-block{
					display: flex !important;
					align-items: center;
				}
			}
			@include mq(max_sm){
				width: 50%;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
		}
		.box-course-info {
			width: 87.4%;
			display: flex;
			flex-direction: column;
			JUSTIFY-CONTENT: space-around;
			@include mq(max_xs){
				width: 100%;
			}
		}
		@include mq(xl){
			.qr-code {
				width: 152px;
			}
			.box-form {
				width: calc(100% - 152px);
			}
		}
		@include mq(max_sm){
			p {
				margin: 0;
			}
			.qr-code {
				margin: 13px auto 10px;
			}
				.info-bank {
					text-align: center;
				}
			.form {
				margin-top: 20px;
				.btn-submit {
					margin-top: 10px;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-news
----------------------------------------------------------- */
.con-news {
	position: relative;
	z-index: 1;
	padding: getVw(150) 0 0 0;
	margin-bottom: getVw(115);
	@include mq(max_xs) {
		padding: 45px 0 0 0;
	}
	.title-lg {
		margin-bottom: 60px;
		@include mq(max_xs) {
			margin-bottom: 40px;
		}
	}
	.box-news {
		display: flex;
		justify-content: space-between;
		@include mq(max_lg) {
			display: flex;
		    flex-direction: column;
		    align-items: center;
		}
		@include mq(max_xs) {
			display: block;
		}
		.featured-news {
			width: 55.5%;
			@include bgPrimary();
			box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
			border-radius: 8px;
			justify-content: flex-end;
		    display: flex;
		    flex-direction: column;
			@include mq(max_lg) {
				width: 100%;
				margin-bottom: 20px;
			}
			@include mq(max_xs) {
				width: 100%;
				margin-bottom: 15px;
			}
			.featured {
				padding: 10px;
				img {
					width: 100%;
				}
			}
			p {
				position: relative;
				z-index: 1;
				margin: 0;
				&.img-partner {
					margin-top: -5px;
					img {
						width: 100%;;
					}
				}
			}
		}
		.box-news-info {
			width: 44%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@include mq(max_lg) {
				width: 100%;
				display: block;
			    justify-content: center;
			    align-items: stretch;
			}
			@include mq(max_xs) {
				width: 100%;
			}
			.box-item {
				@include bgPrimary();
    			box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				
				padding: 15px 25px;
				color: #fff;
				position: relative;
				height: 50%;
				@include mq(max_lg) {
					width: 100%;
					margin: 10px 5px!important;
				}
				@include mq(max_xs) {
					width: 100%;
					margin: 5px 0px!important;
				}
				&:first-child {
					margin-bottom: 15px;
					@include mq(max_lg) {
						margin-bottom: 0;
					}
				}
				a{
					color: #fff;
					position: relative;
					z-index: 1;
					text-decoration: none;
					font-size: 15px;
					@include mq(xxl) {
						margin-bottom: 20px;
					}
					&.lnk-title {
						margin-bottom: 14px;
						display: block;
					}
					span {
						color: #38A1FF;
						display: block;
					}
				}
				p {
					position: relative;
					z-index: 1;
					font-size: 15px;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				.box-lnk {
					color: $primaryColor;
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}

/* -----------------------------------------------------------
	.con-partner
----------------------------------------------------------- */
.con-partner {
	position: relative;
	z-index: 1;
	margin-bottom: 115px;
	@include mq(max_xs) {
		padding-top: 80px;
		margin-bottom: 85px;
	}
	.title-lg {
		margin-bottom: 30px;
	}
	.box-banner {
		ul {
			display: flex;
    		justify-content: center;
			li {
				display: inline-block;
				width: 150px;
				height: 108px;
				background: #FFFFFF;
				mix-blend-mode: normal;
				box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				margin: 0 12px;
				display: flex;
				justify-content: center;
				align-items: center;

			}
		}
	}
	.slick-prev {
		left: 25px;
		background: transparent url('../images/ic-prev.png') no-repeat left center;
		background-size: contain;
			@include mq(max_lg) {
				left: 10px;
			}
			@include mq(max_xs) {
				left: 0;
			}
	}
	.slick-next {
		right: 25px;
		background: transparent url('../images/ic-next.png') no-repeat right center;
		background-size: contain;
		@include mq(max_lg) {
			right: 10px;
		}
		@include mq(max_xs) {
			right: 0;
		}
	}
}

/* -----------------------------------------------------------
	.con-faqs
----------------------------------------------------------- */
.con-faqs {
	position: relative;
	z-index: 1;
	.title-lg {
		margin-bottom: 50px;
		@include mq(max_xs) {
			margin-bottom: 20px;
		}
	}
	.box-faqs {
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		padding: 47px 98px 39px;
		@include mq(max_sm) {
			padding: 35px 50px;
		}
		@include mq(max_xs) {
			padding: 35px 15px;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 2, 56, 0.8);
			box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
			opacity: 0.95;
		}
		> * {
			position: relative;
		}
		.accordion {
			@include mq(max_xs) {
				padding: 0 10px;
			}
		}
		.accordion-item {
			background: transparent;
   			border: 0;
   			color: #fff;
   			.accordion-button:not(.collapsed) {
			    color: #fff;
			    background-color: transparent;
			    box-shadow: none;
			    &:after {
					background: transparent url('../images/ic-arrow-faq.png') no-repeat left center;
				}
			}
			.accordion-button {
			    position: relative;
			    display: flex;
			    align-items: center;
			    width: 100%;
			    padding: 0.75rem 0;
			    font-size: 1rem;
			    color: #fff;
			    text-align: left;
			    background-color: transparent;
			    border: 0;
			    border-radius: 0;
			    overflow-anchor: none;
			    outline: none!important;
			    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
				&:after {
					background: transparent url('../images/ic-arrow-faq.png') no-repeat left center;
					width: 22px;
					height: 12px;
				}
			}
			.accordion-body {
				padding: 1rem 3rem;
				@include mq(max_sm) {
					padding: 5px 15px;
				}
				@include mq(max_xs) {
					padding: 5px 15px;
				}
			}
		}
	}
}
.main-top {
	
	position: relative;
	z-index: 2;
	&:before {
		position: absolute;
		top: -(getVw(180));
		height: getVw(750);
		left: 0;
		width: 100%;
		content: "";
		background: linear-gradient(180deg, rgba(91, 55, 135, 0) 0%, #5B3787 27.81%, #5B3787 67.24%, rgba(91, 55, 135, 0) 97.07%);
		z-index: 1;
		@include mq(max_xs) {
			top: -45px;
			height: 200px;
		}
	}
	&:after {
		position: absolute;
		top: (getVw(300));
		left: 0;
		width: 100%;
		bottom: 0;
		content: "";
		background: #612783 url(../images/bg-body1.png) center top;
		background-size: cover;
		z-index: 0;
		@include mq(max_xs) {
			top: (getVw(150));
		}
	}
}
.main-bottom {
	background: #612783 url(../images/bg-body2.png) repeat-y center bottom;
	background-size: cover;
	position: relative;
	z-index: 2;
}
.con-featured {
	position: relative;
	height: 700px;
	overflow: hidden;
	// min-height: 900px;

	@include mq(xxl) {
		height: 1050px;
	}
	@media (min-width: 1600px) and (max-width: 1689px) {
		height: 800px;
	}
	@include mq(max_lg) {
	height: 550px;
	}
	@include mq(max_xs) {
		margin-top: 75px;
		height: 100vh;
	}
	.box-featured {
		position: relative;
		height: 700px;
		z-index: 2;
		width: 100%;
		overflow: hidden;
		background: #612783 url(../images/bg-featured.png) top center;
		@include mq(xxl) {
			height: 1050px;
		}
		@media (min-width: 1600px) and (max-width: 1689px) {
			height: 800px;
		}
		@include mq(max_lg) {
			background: #612783 url(../images/bg-featured-tab.png) top center;
			background-size: cover;
		}
		@include mq(max_xs) {
			background: #612783 url(../images/bg-featured-sp.png) top center;
			background-size: cover;
		}

			background-size: cover;
			@include mq(max_lg) {
			height: 550px;
			}
			@include mq(max_xs) {
				height: 100vh;
			}
			.container {
				position: relative;
				height: 100%;
			}
			.box-featued1 {
				position: absolute;
				top: 90px;
				left: 30px;
				width: getVw(226);
				height: getVw(189);
				@include mq(xxl) {
					top: 100px;
    				left: -40px;
				}
				
				@include mq(max_lg) {
    				left: 110px;
				}

				@include mq(max_xs) {
					top: getVw(20,375);
					left: getVw(10,375);
					width: getVw(107,375);
					height: getVw(125,375);
				}
			}
			.box-featued2{
				position: absolute;
				bottom: 30px;
				left: -60px;
				width: getVw(438);
				height: getVw(494);
				@include mq(xxl) {
					bottom: 160px;
					left: -250px;
					// bottom: getVw(40);
				}
				
				@include mq(max_lg) {
					bottom: 52px;
    				left: 0;
				}
				@include mq(max_xs) {
					bottom: getVw(190,375);
					left: -(getVw(10,375));
					width: getVw(150,375);
					height: getVw(169,375);
				}
			}
			
			.box-featued3{
				position: absolute;
				top: 170px;
				left: 300px;
				width: getVw(152);
				height: getVw(156);
				@include mq(xxl) {
					left: 300px;
				}
				@include mq(max_xs) {
					top: getVw(130,375);
					left: (getVw(20,375));
					width: getVw(71,375);
					height: getVw(68,375);
				}

			}
			.box-featued32{
				position: absolute;
				top: getVw(120);
				left: getVw(550);
				width: getVw(131);
				height: getVw(136);
				transform: rotate(20deg);
			}
			
			.box-featued4{
				position: absolute;
				top: getVw(90);
				right: 25%;
				width: getVw(284);
				height: getVw(180);
				@include mq(xxl) {
					top: getVw(90);
					right: 12%;
				}
				
				@include mq(max_lg) {
					top: 105px;
				}
				
				@include mq(max_xs) {
					top: getVw(50,375);
					left: 50%;
					right: auto;
					width: getVw(110,375);
					height: getVw(80,375);
				}

			}
			.box-featued5{
				position: absolute;
				top: 60px;
				right: 160px;
				width: getVw(215);
				height: getVw(215);
				@include mq(xxl) {
					top: 0px;
    				right: -14px;
				}
				
				@include mq(max_lg) {
					top: 60px;
    				right: 65px
				}

				@include mq(max_xs) {
					top: getVw(20,375);
					right: -20px;
					width: getVw(100,375);
					height: getVw(59,375);
				}
			}
			
			.box-featued6{
				position: absolute;
				bottom: 90px;
				right:30px;
				width: getVw(326);
				height: getVw(331);
				@include mq(xxl) {
					bottom: 150px;
    				right: -200px;
				}
				@media (min-width: 1600px) and (max-width: 1689px) {
					bottom: 40px;
					right:-50px;
				}
				@media (min-width: 1440px) and (max-width: 1599px) {
					bottom: 40px;
    				right: -30px;
				}
				@include mq(max_lg) {
					bottom: 66px;
    				right: 15px
				}
				@include mq(max_xs) {
					bottom: getVw(130,375);
					right: -(getVw(60,375));
					width: getVw(173,375);
					height: getVw(151,375);
				}
			}
			.box-featued7{
				position: absolute;
				top: 180px;
				left: 50%;
				margin-left: -(getVw(316)/2); 
				width: getVw(316);
				height: getVw(328);
				@include mq(xxl) {
					top: 240px;
					left: 50%;
				}
				
				@include mq(max_lg) {
					top: 170px;
				}
				
				@include mq(max_xs) {
					top: 21%;
					width: getVw(143,375);
					height: getVw(99,375);
					margin-left: -(getVw(143,375)/2); 
				}
				
			}
			.box-featued8{
				position: absolute;
				bottom: -(getVw(30));
				left: (getVw(230));
				width: getVw(251);
				height: getVw(328);
				@include mq(xxl) {
					bottom: 32px;
    				left: 30px;
				}
				@include mq(max_xs) {
					bottom: getVw(160,375);
					left: (getVw(50,375));
					width: getVw(119,375);
					height: getVw(141,375);
				}
			}
			
			.box-featued9{
				position: absolute;
				bottom: -10px;
				right: 280px;
				width: getVw(294);
				height: getVw(241);
				@include mq(xxl) {
					bottom: 20px;
    				right: 180px;
				}
				
				@include mq(max_lg) {
					bottom: 16px;
    				right: 169px;
				}
				@include mq(max_xs) {
					bottom: getVw(270,375);
					right: getVw(50,375);
					width: getVw(98,375);
					height: getVw(80,375);
				}
			}
			
			.box-featued10{
				position: absolute;
				top: 180px;
				right: 30px;
				width: getVw(186);
				height: getVw(194);
				@include mq(xxl) {
					top: 220px;
					right: -130px;
				}
				
				@include mq(max_lg) {
					top: 80px;
					right: 50px;
				}

				@include mq(max_xs) {
					top: getVw(110,375);
					right: 10px;
					width: getVw(62,375);
					height: getVw(65,375);
				}
			}
			
			.txt1{
				position: absolute;
				top: 280px;
				left: 50%;
				width: getVw(805);
				height: getVw(156);
				margin-left: -(getVw(805)/2);
				@include mq(xxl) {
					top: 390px;
				}
				@include mq(max_lg) {
					top: 230px;
				}
				@include mq(max_xs) {
					top: 30%;
					width: getVw(325,375);
					height: getVw(66,375);
					margin-left: -(getVw(325,375)/2); 
				}
			}
			.txt2 {
				position: absolute;
				top: 305px;
				left: 58%;
				width: getVw(347);
				height: getVw(82);
				@include mq(xxl) {
					top: 445px;
				}
				
				@include mq(max_lg) {
					top: 255px;
				}

				@include mq(max_xs) {
					width: getVw(155,375);
					height: getVw(48,375);
					top: 33%;
					left: 55%;
				}
			}
			
		.btn-submit {
			top: 450px;
			left: 50%;
			margin-left: -(getVw(412)/2);
			position: absolute;
			width: getVw(412);
			height: getVw(76);
			line-height: getVw(55);
			
			background:  url(../images/bg-btn-top.png) no-repeat center bottom;
			background-size: 100% auto;
			&:hover {
				background:  url(../images/bg-btn-top-hover.png) no-repeat center bottom;
				background-size: 100% auto;
			}
			@include mq(xxl) {
				top: 650px;
				line-height: getVw(55);
			}
			@include mq(max_lg) {
				margin-bottom: 20px;
				width: 240px;
				height: 44px;
				margin-left: -70px;
				line-height: 26px;
				margin-left: -120px;
				top: 350px;
			}
			@include mq(max_xs) {
				margin-bottom: 20px;
				width: 200px;
				height: 42px;
				margin-left: -100px;
				line-height: 34px;
				top: 45%;
				padding: 0;
			}
			span {
				font-style: normal;
				font-weight: 800;
				font-size: 26px;
				line-height: 26px;
				text-align: center;
				padding: 0;
				color: #FFFFFF;
				// border: 1px solid #EA619A;
				text-shadow: rgb(234, 97, 154) 1px 0px 0px, rgb(234, 97, 154) 0.540302px 0.841471px 0px, rgb(234, 97, 154) -0.416147px 0.909297px 0px, rgb(234, 97, 154) -0.989992px 0.14112px 0px, rgb(234, 97, 154) -0.653644px -0.756802px 0px, rgb(234, 97, 154) 0.283662px -0.958924px 0px, rgb(234, 97, 154) 0.96017px -0.279415px 0px;
				// border: 1px solid #EA619A;
				@media only screen and (max-width: 1599px) {
					font-size: 22px;
    				line-height: 22px;
				}
				
				@include mq(max_lg) {
					font-weight: 800;
					font-size: 17px;
				}

				@include mq(max_xs) {
					font-size: 15px;
				}
			}
		}
		img {
			width: 100%;
		}
	}
}

.ladipage-message {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000;
    background: rgba(0, 0, 0, .3)
}

.ladipage-message .ladipage-message-box {
    width: 400px;
    max-width: calc(100% - 50px);
    height: 160px;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: #fff;
    position: fixed;
    top: calc(50% - 155px);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px
}

.ladipage-message .ladipage-message-box h1 {
    background-color: rgba(6, 21, 40, .05);
    color: #000;
    padding: 12px 15px;
    font-weight: 600;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.ladipage-message .ladipage-message-box .ladipage-message-text {
    font-size: 14px;
    padding: 0 20px 20px;
    margin-top: 10px;
    line-height: 18px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box
}

.ladipage-message .ladipage-message-box .ladipage-message-close {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 5px;
    margin: 0 auto;
    padding: 10px 0;
    border: none;
    width: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #e6e6e6;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer
}