@charset "utf-8";
@import "variables";
@import "mixins";

/* -----------------------------------------------------------
	.con-faqs
----------------------------------------------------------- */
.con-faqs {
	.title-lg {
		margin-bottom: 50px;
	}
	.box-faqs {
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		padding: 47px 98px 39px;
		@include mq(max_sm) {
			padding: 30px 50px;
		}
		@include mq(max_xs) {
			padding: 25px 30px;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #3B1F88;
			mix-blend-mode: multiply;
			box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
		}
		> * {
			position: relative;
		}
		.accordion {
			@include mq(max_xs) {
				padding: 0 22px;
			}
		}
		.accordion-item {
			background: transparent;
   			border: 0;
   			color: #fff;
   			.accordion-button:not(.collapsed) {
			    color: #fff;
			    background-color: transparent;
			    box-shadow: none;
			    &:after {
					background: transparent url('../images/ic-arrow-faq.png') no-repeat left center;
				}
			}
			.accordion-button {
			    position: relative;
			    display: flex;
			    align-items: center;
			    width: 100%;
			    padding: 0.75rem 0;
			    font-size: 1rem;
			    color: #fff;
			    text-align: left;
			    background-color: transparent;
			    border: 0;
			    border-radius: 0;
			    overflow-anchor: none;
			    outline: none!important;
			    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
				&:after {
					background: transparent url('../images/ic-arrow-faq.png') no-repeat left center;
					width: 22px;
					height: 12px;
				}
			}
			.accordion-body {
				padding: 1rem 3rem;
				@include mq(max_sm) {
					padding: 5px 15px;
				}
				@include mq(max_xs) {
					padding: 5px 15px;
				}
			}
		}
	}
}

.con-banner {
	margin-bottom: 115px;
	.title-lg {
		margin-bottom: 30px;
	}
	.box-banner {
		ul {
			display: flex;
    		justify-content: center;
			li {
				display: inline-block;
				width: 150px;
				height: 108px;
				background: #FFFFFF;
				mix-blend-mode: normal;
				box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				margin: 0 12px;
				display: flex;
				justify-content: center;
				align-items: center;

			}
		}
	}
}

.con-news {
	margin-bottom: 115px;
	.title-lg {
		margin-bottom: 60px;
	}
	.box-news {
		display: flex;
		justify-content: space-between;
		@include mq(max_xs) {
			display: block;
		}
		.featured-news {
			width: 55.5%;
			@include bgPrimary();
			box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
			border-radius: 8px;
			justify-content: flex-end;
		    display: flex;
		    flex-direction: column;
			@include mq(max_xs) {
				width: 100%;
				margin-bottom: 15px;
			}
			.featured {
				padding: 10px;
			}
			p {
				position: relative;
				z-index: 1;
				margin: 0;
				&.img-partner {
					margin-top: -5px;
				}
			}
		}
		.box-news-info {
			width: 44%;
			@include mq(max_xs) {
				width: 100%;
			}
			.box-item {
				@include bgPrimary();
    			box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
				border-radius: 8px;
				
				padding: 15px 25px;
				color: #fff;
				position: relative;
				&:first-child {
					margin-bottom: 15px;
				}
				a{
					color: #fff;
					position: relative;
					z-index: 1;
					text-decoration: none;
					font-size: 15px;
					&.lnk-title {
						margin-bottom: 10px;
						display: block;
					}
					span {
						color: #38A1FF;
						display: block;
					}
				}
				p {
					position: relative;
					z-index: 1;
					font-size: 15px;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				.box-lnk {
					color: $primaryColor;
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}
}

.slick-prev {
	left: 25px;
	background: transparent url('../images/ic-prev.png') no-repeat left center;
	background-size: contain;
		@include mq(max_lg) {
			left: 10px;
		}
		@include mq(max_xs) {
			left: 0;
		}
	}
.slick-next {
	right: 25px;
	background: transparent url('../images/ic-next.png') no-repeat right center;
	background-size: contain;
	@include mq(max_lg) {
		right: 10px;
	}
	@include mq(max_xs) {
		right: 0;
	}
}


.con-planet {
	.box-planet {
		padding: 200px 0;
		.title-md {
			margin: -50px 0 -15px 0;
			@include mq(max_xs) {
				margin: 10px 0 30px 0;
			}
			.md {
				margin-top: -10px; 
			}
		}
		.planet-wrap { 
			.plan-top {
					@include mq(max_xs) {
							flex-wrap: wrap;
							display: flex;
							flex-direction: row;
							flex: 1;
							justify-content: center;
							.box-item:first-child {
									margin-top: 40px;
							}
					}
			}
			.plan-bottom {
					@include mq(max_xs) {
							flex-wrap: wrap;
							display: flex;
							flex-direction: row;
							flex: 1;
							justify-content: center;
							.box-item:first-child {
									margin-bottom: 40px;
							}
					}
			}
			
			
			.box-item {
				display: flex;
				width: 20%;
				flex-direction: column;
    			justify-content: center;
    			transform: scale(0.8);
    			opacity: 0.7;
    			@include mq(max_xs) {
					width: 50%;
					align-items: center;
					opacity: 1;
					transform: scale(1);
					padding: 0 5px;
				}
    			&.active {
    				transform: scale(1);
    				opacity: 1;
    			}
    			&.ioe-top {
    				@include mq(max_xs) {
						margin-top: 40px;
					}
    			}
    			&.ielts {
    				margin-top: -100px;
    				@include mq(max_xs) {
						margin-top: 40px;
					}
    			}

    			&.toefl-junior {
    				margin-top: -198px;
    				@include mq(max_xs) {
						margin-top: 40px;
					}
    			}
    			&.pet {
    				margin-top: -100px;
    				@include mq(max_xs) {
						margin-top: 40px;
					}
    			}
    			&.ioe {
    				margin-bottom: -85px;
    				@include mq(max_xs) {
						margin-bottom: 40px;
					}
    			}
    			&.starters {
    				margin-bottom: -198px;
    				@include mq(max_xs) {
						margin-bottom: 40px;
					}
    			}
    			&.movers {
    				margin-bottom: -85px;
    				@include mq(max_xs) {
						margin-bottom: 40px;
					}
    			}
    			
    			.featured {
    				margin: 0;
    				padding: 0;
    				text-align: center;
    			}

    			.txt-top {

    				text-align: center;
    				font-weight: 800;
					font-size: 20px;
					line-height: 20px;
					text-transform: uppercase;

					color: #FFFFFF;

					text-shadow: 0px 0px 8px #FF00F5;
    			}
    			.box-txt {
    				margin-top: -15px;
    				width: 246px;
					height: 43px;
					line-height: 43px;
					background: transparent url('../images/bg-txt.png') no-repeat top center;
					background-size: contain;
					display: flex;
				    justify-content: center;
				    align-items: center;
				    @include mq(max_xs) {
				    	height: 29px;
				    }
					p {
	    				font-style: normal;
						font-weight: 700;
						font-size: 12px;
						line-height: 24px;
						/* identical to box height, or 171% */
						text-transform: uppercase;

						color: #FFFFFF;
						text-align: center;
						margin-bottom: 0;
						padding: 0;
						@include mq(max_xs) {
							font-size: 9px;
							line-height: 9px;
						}

	    			}
    			}
    			
			}
			.plan-top {
				display: flex;
    			align-items: center;
			}
			.plan-bottom {
				display: flex;
    			align-items: center;
			}
			
		}
	}
}

