<div class="con-planet">
        <h2 class="title-md  d-none d-lg-block">
          <span class="lg">250+ CAMBRIDGE, TOEFL & FCE</span> 
              <span class="md">STANDARD EXAM QUESTIONS<br />
                ARE UPDATED CONTINUOUSLY</span>
        </h2>
        <div class="container">
          
          <div class="box-planet">
            
            <h2 class="title-md">
              <span class="lg">250+ CAMBRIDGE, TOEFL & FCE</span> 
              <span class="md">STANDARD EXAM QUESTIONS<br />
                ARE UPDATED CONTINUOUSLY</span>
            </h2>
            <h4 class="d-block d-sm-block d-lg-none">Primary level</h4>
            <div class="planet-wrap  d-block d-sm-block d-lg-none">
              <div class="plan-top">
                <div class="box-item">
                  <span class="txt-top">TOEFL PRIMARY</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/d5325e5b-1751-47bf-bcce-0b33ea003e58" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet8.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR students from 11-13 years old</span>
                  </div>
                </div>
                <div class="box-item movers">
                  <span class="txt-top">MOVERS</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/9e6839c3-7cf9-4d34-a198-e2f01575f95b" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet2.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>for students from 8-10 years old (A1)</span>
                  </div>
                </div>
                <div class="box-item starters">
                  <span class="txt-top">STARTERS</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/2689a135-04d6-42d6-b092-bf168b4ba66a" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet1.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR STUDENTS FROM 6-11 YEARS OLD (Pre A1) </span>
                  </div>
                </div>
                
                <div class="box-item flyers">
                  <span class="txt-top">FLYERS</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/c3e0ca30-ced6-4a56-88e9-51735f470d12" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet3.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR STUDENTS FROM 9-11 YEARS OLD (A2)</span>
                  </div>
                </div>
                <div class="box-item ioe-top">
                  <span class="txt-top">IOE</span>
                  <p class="featured"><a href="#123" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet4.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR STUDENTS FROM 9-11 YEARS OLD (A2)</span>
                  </div>
                </div>
              </div>
              <h2 class="title-md  d-none d-lg-block">
                <span class="lg">250+ CAMBRIDGE, TOEFL & FCE</span> 
                <span class="md">STANDARD EXAM QUESTIONS<br />
                  ARE UPDATED CONTINUOUSLY</span>
              </h2>
              <h4 class="d-block d-sm-block d-lg-none">Secondary Level</h4>
              <div class="plan-bottom">
                <div class="box-item">
                  <span class="txt-top">TOEFL JUNIOR</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/c5581012-4c10-4e11-bb07-fee7fe1d890c" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet5.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR students from 11-15 years old</span>
                  </div>
                </div>
                <div class="box-item ioe">
                  <span class="txt-top">IOE</span>
                  <p class="featured"><a href="#123" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet4.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR students from 12 years old</span>
                  </div>
                </div>
                
                <div class="box-item ielts active">
                  <span class="txt-top">IELTS</span>
                  <p class="featured"><a href="#123" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet7.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR students from 15 years old</span>
                  </div>
                </div>
                <div class="box-item toefl-junior">
                  <span class="txt-top">KET</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/1bac7c76-36c9-4ef7-9eaa-2424e307f839" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet6.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR students from 11-13 years old </span>
                  </div>
                </div>
                <div class="box-item pet">
                  <span class="txt-top">PET</span>
                  <p class="featured"><a href="https://exam.flyer.vn/test-level/cffea933-07de-48c2-971b-3585b184f2d9s" target="_blank"><img src="<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet5.png" alt=""></a></p>
                  <div class="box-txt">
                    <span>FOR students from 13-15 years old</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="box-planet-wrap d-none d-sm-none d-lg-block">
            
            <div id="planet0" data-index="0" class="box-item  planet active">
              <div class="item-planet-wrap">
                <span class="txt-top">STARTERS</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/2689a135-04d6-42d6-b092-bf168b4ba66a" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet1.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR STUDENTS FROM 6-11 YEARS OLD (Pre A1) </span>
                </div>
              </div>
              
            </div>
            
            <div id="planet1" data-index="1" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">MOVERS</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/9e6839c3-7cf9-4d34-a198-e2f01575f95b" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet2.png" alt=""></a></p>
                <div class="box-txt">
                  <span>for students from 8-10 years old (A1)</span>
                </div>
              </div>
              
            </div>
            <div id="planet2" data-index="2" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">FLYERS</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/c3e0ca30-ced6-4a56-88e9-51735f470d12" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet3.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR STUDENTS FROM 9-11 YEARS OLD (A2)</span>
                </div>
              </div>
              
            </div>
            <div id="planet3" data-index="3" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">IOE</span>
                <p class="featured"><a scrhref="#123" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet4.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR students from 12 years old</span>
                </div>
              </div>
              
            </div>
            <div id="planet4" data-index="4" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">PET</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/cffea933-07de-48c2-971b-3585b184f2d9s" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet5.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR students from 13-15 years old</span>
                </div>
              </div>
                
            </div>
            
            <div id="planet5" data-index="5" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">TOEFL JUNIOR</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/c5581012-4c10-4e11-bb07-fee7fe1d890c" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet5.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR students from 11-15 years old</span>
                </div>
              </div>
              
            </div>
            <div id="planet6" data-index="6" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">IELTS</span>
                <p class="featured"><a scrhref="#123" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet7.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR students from 15 years old</span>
                </div>
              </div>
              
            </div>
            <div id="planet7" data-index="7" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">KET</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/1bac7c76-36c9-4ef7-9eaa-2424e307f839" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet6.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR students from 11-13 years old</span>
                </div>
              </div>
              
            </div>
            <div id="planet8" data-index="8" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">TOEFL PRIMARY</span>
                <p class="featured"><a scrhref="https://exam.flyer.vn/test-level/d5325e5b-1751-47bf-bcce-0b33ea003e58" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet8.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR students from 11-13 years old</span>
                </div>
              </div>
              
            </div>
            <div id="planet9" data-index="9" class="box-item  planet">
              <div class="item-planet-wrap">
                <span class="txt-top">IOE</span>
                <p class="featured"><a scrhref="#123" target="_blank"><img src=<?php echo get_site_url();?>/wp-content/themes/Newspaper-child-ver3/images/img_planet4.png" alt=""></a></p>
                <div class="box-txt">
                  <span>FOR STUDENTS FROM 9-11 YEARS OLD (A2)</span>
                </div>
              </div>
              
            </div>
  
          </div>
        </div>
      </div>