
.post header .entry-title {
  margin-top: 0;
  margin-bottom: 70px;
  word-wrap: break-word;
  font-size: 65px;
  line-height: 65px;
  font-weight: 600;
  /* responsive portrait phone */
}

.single-post .td-post-content {
  margin: 120px 0;
  padding: 0px;
  /* responsive portrait phone */
}
.single-post .td-post-content h2 {
    font-family: "Open Sans"!important;
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 120px 0 80px 0;
    color: #ef8c86;
}
.single-post .td-post-content h3 {
    font-family: "Open Sans"!important;
    font-weight: normal;
    font-size: 40px;
    line-height: 42px;
    font-style: normal;
    margin-top: 80px;
}
.single-post .td-post-content h4 {
  font-style: italic;
  font-size: 30px;
}
.single-post #toc_container {
    margin-top: 70px;
    padding-top: 0;
    margin-bottom: 120px;
}